.md-mi-ico,.md-mi-ico2,.md-plus-add{cursor:pointer;display:inline-block;width:24px;height:20px;line-height:0;font-size:0;background: url("../images/theme2-img/md-p-ico.png");position: relative;top:3px;z-index: 2;*position: inherit;}
.m-p-plus,.m-p-minus{display:inline-block;width:12px;height:12px;font-size:0;line-height: 0;background:url("../images/theme2-img/md-p-ico.png");}
.md-mi-ico2:hover{background:url("../images/theme2-img/md-p-ico.png");}
em.md-ico-seq{width:14px;height:10px;background:url("../images/theme2-img/md-p-ico.png");margin-right:5px;*position: relative;*top:-3px;}
.em-ti-top{width:13px;height:10px;font-size:0;line-height:0;background:url("../images/theme2-img/md-p-ico.png") -2px -64px;display: block;position:absolute;top:-9px;left:60%;margin-left:-7px;}
em.md-choose,em.md-choosed{width:16px;height:16px;font-size:0;line-height:0;background:url("../images/theme2-img/md-p-ico.png") 0 -29px;
    display:inline-block;top:3px;position: relative;margin:0 10px;}
.md-plus-ser .btn-ser-md{width:24px;height:18px;border:0;background:url("../images/theme2-img/md-p-ico.png") 0 -11px;cursor:pointer;border-right:1px solid #ddd;position: relative;top:5px;left:5px;}
.md-p-nav2.noborder .btn-ser-md{border:1px solid #e9e9e9;border-width:0 0 0 1px;width:30px;background:url("../images/theme2-img/md-p-ico.png") no-repeat scroll 4px -11px;}
.md-mail{display:inline-block;height:18px;font-size: 0;line-height: 0;width:14px;background: url(../images/theme2-img/md-p-ico.png);margin-top:-1px;}
a.cut-table,a.cut-table:hover{width:16px;height:16px;background: url("../images/theme2-img/md-p-ico.png") 0 -140px;top:3px;right:11px;}
.md-mi-attachment{display:inline-block;width:16px;height:18px;font-size: 0;line-height: 0;
    background: url("../images/theme2-img/md-p-ico.png");background-position:-1px -181px;vertical-align: middle;top:-2px;left:-4px;position: relative;}
.md-ico{width:50px;height:50px;display:inline-block;}
.md-mini-ico .md-ico{width:35px;height:35px;margin:5px;background: none;}
.md-mini-ico .md-ico img{width:35px;height:35px;}
.md-plus-l{line-height:26px;margin:10px 0 0 20px;font-size:18px;}
.md-ico-logo{background-position:-123px -105px;width: 28px;height:26px;margin-right:15px;}
.md-ico-01{background-position:0 0;}
.md-ico-02{background-position:0 -50px;}
.md-ico-03{background-position:0 -100px;}
.md-ico-04{background-position:0 -150px;}
.md-ico-05{background-position:0 -200px;}
.md-ico-06{background-position:0 -250px;}
.md-ico-07{background-position:0 -300px;}
.md-ico-08{background-position:0 -350px;}
.md-ico-09{background-position:0 -400px;}
.md-ico-10{background-position:0 -450px;}
.md-mini-ico .md-ico-01{background-position:-50px 0;}
.md-mini-ico .md-ico-02{background-position:-85px 0;}
.md-mini-ico .md-ico-03{background-position:-155px -35px;}
.md-mini-ico .md-ico-04{background-position:-50px -35px;}
.md-mini-ico .md-ico-05{background-position:-155px 0;}
.md-mini-ico .md-ico-06{background-position:-85px -70px;}
.md-mini-ico .md-ico-07{background-position:-120px -70px;}
.md-mini-ico .md-ico-08{background-position:-120px 0;}
.md-mi-fq{background-position:-26px 0;}
.md-mi-edit{background-position:-26px -20px;}
.md-mi-delete{background:url("../images/md-p-ico.png");background-position:-26px -40px;}
.md-mi-export{background-position:-26px -60px;}
.md-mi-fail{background-position:-26px -80px;}
.md-mi-audit{background-position:-26px -100px;}
.md-mi-ok{background-position:-26px -120px;}
.md-mi-look{background-position:-26px -140px;}
.md-mi-print{background-position:-26px -157px;top:6px;}
.md-mi-ico2{width:13px;height:13px;}
.md-mi-eye{width:18px;height:10px;top:0;right:-3px;background-position:0 -157px;}
.md-mi-ck{width:14px;height:17px;top:1px;right:0;background-position:-26px -203px;}
.md-fork{width:15px;height:15px;background-position:-26px -222px;}
.md-plus-add{width:26px;height:26px;}
.m-p-plus,.m-p-minus{display:inline-block;width:12px;height:12px;font-size:0;line-height: 0;background:url("../images/md-p-ico.png");}
.m-p-plus{background-position:0 -75px;}
.m-p-minus{background-position:-14px -75px;}
.md-mi-ico2:hover{background:url("../images/md-p-ico.png");}
.md-mi-ico2.md-mi-edit{background-position:0 -88px;}
.md-mi-ico2.md-mi-delete{background-position:0 -101px;}
.md-mi-ico2.md-mi-ok{background-position:-13px -88px;}
.md-mi-ico2.md-mi-up{background-position:-13px -102px;}
.md-mi-ico2.md-mi-down{background-position:0 -113px;}
.md-mi-set{background-position:0 -204px;width:14px;height:14px;top:2px;left:-5px;}
.md-mi-count{background-position:0 -220px;left:-8px;}/*统计*/
























