<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>404</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="md-plus">
    <!--知识门户begin-->
    <div class="md-plus-top clearfix">
        <div class="floatleft md-plus-l"><span class="md-ico floatleft md-ico-logo"></span>快捷审批</div>
    </div>
    <!--知识门户over-->
    <div class="md-plus-inner">
        <div class="error-box mart50 clearfix">
            <div class="floatleft">
                <p class="aligncenter"><img src="../../images/404.png" /></p>
                <p class="error-t aligncenter">404</p>
            </div>
            <dl>
                <dd class="font25">找不到该页面</dd>
                <dd>你使用的 URL 可能拼写有误，该页面可能已经移动，或者可能是服务器偷懒了...</dd>
                <dd class="p-top5">请尝试以下操作</dd>
                <dd class="p-top5">1. 按 F5 使劲刷新</dd>
                <dd>2. 重新键入正确的网址</dd>
                <dd>或者 <a href="#">返回首页</a> </dd>
            </dl>
        </div>
    </div>
</div>
</body>
</html>