<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>代办申请</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
 <div class="md-plus">
     <!--知识门户begin-->
     <div class="md-plus-top clearfix">
         <div class="floatleft md-plus-l"><span class="md-ico floatleft md-ico-logo"></span>流程审批</div>
     </div>
     <!--知识门户over-->
     <div class="md-plus-inner mart30">
        <!--the inner nav begin-->
        <div class="md-p-nav">
            <ul class="clearfix">
                <li class="current"><a href="#"class="m-first-a">单据申请</a></li>
                <li><a href="#">我的单据<em class="md-plus-news"></em></a></li>
                <li><a href="#">单据审批</a></li>
                <li><a href="#">个人设置</a></li>
                <li><a href="#" class="m-last-a">环境设置</a></li>
            </ul>
        </div>
        <!--the inner nav over-->
        <!--the main beign-->
        <div class="md-plus-main" style="width:770px;">
          <div class="clearfix md-lise-box p-top10">
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item current" title="考勤申请单">
                 <a href="#" class="h2">考勤申请单</a>
                 <div class="md-plus-h clearfix">
                     <span class="md-ico floatleft md-ico-01"></span>
                     <span class="md-doc-txt floatleft">
                        <p>委托代办</p>
                        <p>刘德华</p>
                     </span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
              <div class="md-doc-item" title="外出申请单">
                 <a href="#" class="h2">外出申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-02"></span>
                    <span class="md-doc-txt floatleft">
                        <p>委托代办</p>
                        <p>刘德华</p>
                    </span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
            <div class="md-doc-item-box floatleft">
              <div class="md-doc-item" title="出差申请单">
                 <a href="#" class="h2">出差申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-03"></span>
                    <span class="md-doc-txt floatleft"><p>委托代办</p><p>刘德华</p></span>
                 </div>
                  <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
            <div class="md-doc-item-box floatleft">
              <div class="md-doc-item" title="预支申请单">
                 <a href="#" class="h2">预支申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-04"></span>
                    <span class="md-doc-txt floatleft"><p>委托代办</p><p>刘德华</p></span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
            <div class="md-doc-item-box floatleft">
              <div class="md-doc-item" title="还款申请单">
                 <a href="#" class="h2">还款申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-05"></span>
                    <span class="md-doc-txt floatleft"><p>委托代办</p><p>刘德华</p></span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
            <div class="md-doc-item-box floatleft">
              <div class="md-doc-item" title="日常费用申请单">
                 <a href="#" class="h2">日常费用申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-06"></span>
                    <span class="md-doc-txt floatleft"><p>委托代办</p><p>刘德华</p></span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
            <div class="md-doc-item-box floatleft">
              <div class="md-doc-item" title="差旅费用申请单">
                 <a href="#" class="h2">差旅费用申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-07"></span>
                    <span class="md-doc-txt floatleft"><p>委托代办</p><p>刘德华</p></span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
            <div class="md-doc-item-box floatleft">
              <div class="md-doc-item" title="招聘申请单">
                 <a href="#" class="h2">招聘申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-08"></span>
                    <span class="md-doc-txt floatleft"><p>委托代办</p><p>刘德华</p></span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
            <div class="md-doc-item-box floatleft">
              <div class="md-doc-item" title="员工入职申请单">
                 <a href="#" class="h2">员工入职申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-09"></span>
                    <span class="md-doc-txt floatleft"><p>委托代办</p><p>刘德华</p></span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
            <div class="md-doc-item-box floatleft">
              <div class="md-doc-item" title="员工转正申请单">
                 <a href="#" class="h2">员工转正申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-10"></span>
                    <span class="md-doc-txt floatleft"><p>委托代办</p><p>刘德华</p></span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
            <div class="md-doc-item-box floatleft">
            <div class="md-doc-item" title="员工离职申请单">
                 <a href="#" class="h2">员工离职申请单</a>
                 <div class="md-plus-h clearfix">
                    <span class="md-ico floatleft md-ico-09"></span>
                    <span class="md-doc-txt floatleft"><p>委托代办</p><p>刘德华</p></span>
                 </div>
                 <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">委托代办记录<em class="md-plus-btn-r"></em></a></p>
              </div>
            </div>
          </div>
          <!--添加代办人弹出框 begin-->
            <div class="md-plus-pop" style="width:350px;top:100px;left:50%;margin-left:-175px;">
                <div class="md-plus-pop-inner">
                    <a href="#" class="md-delect"></a>
                    <p class="font18 md-title">外出申请</p>
                    <div class="md-pop-main">
                       <div class="md-doc-set-box">
                           <table class="marl30">
                               <tr>
                                   <th><span class="font14">审批人1</span></th>
                                   <td>
                                       <div class="md-clander floatleft">
                                            <input type="text" class="md-int-mid">
                                            <a href="#" class="md-ser-ico"></a>
                                            <ul class="add-user-list clearfix">
                                                <li>
                                                    <span class="md-pro-user">
                                                       <em>何苗</em>
                                                       <a href="#" class="md-delect" title="删除此审批人"></a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                   </td>
                               </tr>
                           </table>
                       </div>
                       <p class="alignright mart10">
                           <button class="md-plus-btn color-white">保  存<em class="md-plus-btn-r"></em></button>
                           <button href="#" class="md-plus-btn2">取  消<em class="md-plus-btn-r"></em></button>
                       </p>
                    </div>
                </div>
            </div>
          <!--添加代办人弹出框 over-->
        </div>
        <!--the main over-->
     </div>
 </div>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript">
    $(function(){
        $("div.md-lise-box .md-doc-item").hover(function(){
            $(this).addClass("current");
        },function(){
            $(this).removeClass("current");
        })
    })
</script>
</body>
</html>
