<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>购买</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<div class="md-plus">
    <div class="md-plus-top clearfix">
        <div class="floatleft md-plus-l">增量用户包购买</div>
    </div>
    <div class="md-plus-inner mart30">
        <!--the main beign-->
        <div class="md-plus-main">
            <div class="md-plus-main-inner noborder">
                <div class="md-doc-set-box p-bt20">
                    <p>
                        <span>当前网络：<em class="phone-number">流程审批</em></span>
                        <span class="marl20 marr20">当前用户数：<em class="phone-number">6</em>人</span>
                        <span>用户上限：<em class="phone-number">0</em>人</span>
                    </p>
                    <p class="mart15">
                        <span>当前网络到期时间：<em class="phone-number">2014-07-30</em></span>
                        <span class="marl20 marr20">剩余时间：<em class="phone-number">208</em>天</span>
                        <span> 增值服务账户余额：<em class="phone-number">0</em>元</span>
                        <a href="#" class="md-plus-btn color-white newReq marl20">立即充值<em class="md-plus-btn-r"></em></a>
                    </p>
                </div>
                <div class="md-doc-set-box p-bt20">
                    <p class="font16 phone-number">请根据您的需要选择增量用户包</p>
                    <div class="md-doc-item mart20 clearfix" style="width:auto;border-radius:0;">
                        <ul class="expansionProduct">
                            <li>
                               <div class="phone-number floatleft font16"><span>5</span>人包</div>
                               <div class="middle">
                                   <div class="numList clearfix">
                                       <span id="minus" class="minus unClick">－</span>
                                       <input type="text" value="1" class="bagNum" id="bagNum">
                                       <span id="plus" class="plus">＋</span>
                                   </div>
                               </div>
                               <div class="middleTip"><span class="red">单个增量用户包最多只能购买99个</span> <br>
                               <span class="contactTel">如需特别定制，请联系电话 400-021-6464</span></div>
                               <div class="right">￥<span id="lblTotalPrice">409.76</span></div>
                               <div class="Clear"></div>
                            </li>
                        </ul>
                    </div>
                    <p class="font14 mart50 p-bt20 clearfix">
                        <span>购买后增加网络用户数<em class="phone-number">5</em>人，网络上限人数增加到<em class="phone-number">5</em>人</span>
                        <a class="floatright">了解详细价格计算公式和条款</a>
                    </p>
                </div>
                <p class="alignright">
                    <a class="md-plus-btn color-white newReq" href="#">提交订单<em class="md-plus-btn-r"></em></a>
                </p>
            </div>
        </div>
        <!--the main over-->
    </div>
</div>
</body>
</html>