<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>表单创建</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div id="Container">
  <div id="header" class="head"></div>
  <div class="content">
      <div class="innercontent clearfix">
          <div class="widget_Left" id="leftmenu"></div>
          <div id="mainIframeDiv" class="main ThemeShaBorder">
             <!--2013-8-25 begin-->
              <div class="md-plus">
                <div class="md-plus-inner mart30">
                    <!--the inner nav begin-->
                    <div class="md-p-nav Noprint">
                        <ul class="clearfix">
                            <li class="current"><a href="#"class="m-first-a">单据申请</a></li>
                            <li><a href="#">我的单据</a></li>
                            <li><a href="#">单据审批</a></li>
                            <li class="last-li"><a href="#">环境设置</a></li>
                            <li class="last-li"><a href="#">个人设置</a></li>
                        </ul>
                    </div>
                    <!--the inner nav over-->
                    <!--the main beign-->
                    <div class="md-plus-main clearfix" style="padding-bottom:100px;">
                        <!--设置步骤begin-->
                        <div class="md-plus-step mart10">
                            <span class="md-step-in block" style="width:107px;"></span>
                            <!--完成一步上面的width加40px-->
                        </div>
                        <!--设置步骤over-->
                         <h2 class="md-doc-title mart5 clearfix aligncenter">
                               <span class="md-title-ico">
                                   <a href="#" class="font12">[选择图标]</a>
                                   <div class="md-plus-pop" style="display:none;width:300px; left:-120px;top:20px; position: absolute;">
                                        <div class="md-plus-pop-inner">
                                            <a href="#" class="md-delect"></a>
                                            <em class="md-top-tip"></em>
                                            <div class="md-mini-ico clearfix" style="height:auto;">
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-1.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-2.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-3.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-4.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-5.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-6.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-7.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-8.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-9.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-10.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-11.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-12.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-13.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-14.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-15.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-16.png"/></a>
                                                <a href="#" class="floatleft"><img src="../../images/theme1-img/ico-17.png"/></a>
                                            </div>
                                        </div>
                                    </div>
                                   <em class="font16">考勤申请</em>
                               </span>
                               <em class="md-doc-num">单据编号：<a>KQ-2013-0030</a></em>
                         </h2>
                         <div class="clearfix">
                            <!--右侧生成表单区begin-->
                            <div class="md-creation">
                               <div class="md-creation-in">
                                   <!--2013-8-26晚begin-->
                                   <div class="md-doc-set-box">
                                       <a href="#" class="md-delect cut-table" title="删除此行"></a>
                                       <table class="md-set-table" width="100%">
                                           <tr>
                                               <th class="mdcurrent-th"></th>
                                               <td class="mdcurrent-td">
                                                   <!--控件弹出begin-->
                                                   <div style="display:none" class="md-controls-pop">
                                                      <div class="md-controls-pop-in">
                                                          <a href="#" class="md-delect" title="关闭"></a>
                                                          <ul class="ul-controls-pop clearfix">
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-1"></i>单行文本输入</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-2"></i>数字输入</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-3"></i>日期选择</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-4"></i>下拉列表</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-5"></i>复选框</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-6"></i>单选框</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-7"></i>多行文本输入</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-8"></i>金额输入</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-9"></i>选择时间</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-10"></i>选择部门</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-11"></i>申请人[只读]</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-12"></i>所属部门[只读]</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-13"></i>职位[只读]</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-14"></i>工作地点[只读]</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-15"></i>公司[只读]</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-16"></i>工作电话[只读]</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-17"></i>移动电话[只读]</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-18"></i>工号[只读]</a></li>
                                                              <li><a href="#"><i class="md-txt-ico txt-ico-19"></i>申请日期[只读]</a></li>
                                                              <li><a href="#">更多控件开发中...</a></li>
                                                          </ul>
                                                      </div>
                                                   </div>
                                                   <!--控件弹出over-->
                                               </td>
                                               <th></th>
                                               <td>
                                                   <div class="td-inner clearfix">
                                                   <a href="#" class="add-controls">添加控件</a>
                                                   <!--编辑删除btn begin-->
                                                    <span class="floatright md-make-btns">
                                                        <a href="#" class="md-mi-ico2 md-mi-edit" title="编辑"></a>
                                                        <a href="#" class="md-mi-ico2 mart5 md-mi-delete" title="删除"></a>
                                                        <a title="增加一列" class="md-add-ico" href="#"></a>
                                                        <a title="删除一列" class="md-minus-ico" href="#"></a>
                                                        <a href="#" class="md-mi-ico2 md-mi-up" title="上移"></a>
                                                        <a href="#" class="md-mi-ico2 md-mi-down" title="下移"></a>
                                                    </span>
                                                   <!--编辑删除btn over-->
                                                 </div>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                                   <!--详细属性设置框begin-->
                                   <div class="md-controls-pop md-value-set" style="display:block;">
                                       <div class="md-controls-pop-in">
                                           <a href="#" class="md-delect" title="关闭"></a>
                                           <div class="clearfix h2 font14">
                                               <i class="icon-cog marl10"></i>
                                               <span>单行文本输入</span>
                                               <div class="floatright marr15 mart5">
                                                   <i class="icon-all"></i>
                                                   <ul class="ul-controls-pop clearfix" style="display:block;">
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-1"></i>单行文本输入</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-2"></i>数字输入</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-3"></i>日期选择</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-4"></i>下拉列表</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-5"></i>复选框</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-6"></i>单选框</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-7"></i>多行文本输入</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-8"></i>金额输入</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-9"></i>选择时间</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-10"></i>选择部门</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-11"></i>申请人[只读]</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-12"></i>所属部门[只读]</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-13"></i>职位[只读]</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-14"></i>工作地点[只读]</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-15"></i>公司[只读]</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-16"></i>工作电话[只读]</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-17"></i>移动电话[只读]</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-18"></i>工号[只读]</a></li>
                                                      <li><a href="#"><i class="md-txt-ico txt-ico-19"></i>申请日期[只读]</a></li>
                                                      <li><a href="#">更多控件开发中...</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <!--设置begin-->
                                           <table width="260">
                                               <tr><th>标题</th></tr>
                                               <tr><td><input type="text" class="md-int-auto" /></td></tr>
                                               <tr><th>标题2</th></tr>
                                               <tr><td><input type="text" class="md-int-auto" /></td></tr>
                                               <tr><th>开会时间</th></tr>
                                               <tr>
                                                   <td>
                                                       <span class="floatleft">开始时间</span>
                                                       <div class="md-clander floatleft">
                                                           <input type="text" class="md-int-short">
                                                           <a href="#" class="md-cl-ico"></a>
                                                        </div>
                                                    </td>
                                               </tr>
                                               <tr>
                                                   <td>
                                                       <span class="floatleft">结束时间</span>
                                                       <div class="md-clander floatleft">
                                                           <input type="text" class="md-int-short">
                                                           <a href="#" class="md-cl-ico"></a>
                                                        </div>
                                                    </td>
                                               </tr>
                                               <tr><th>多行文本输入</th></tr>
                                               <tr>
                                                   <td><textarea cols="30" rows="4" class="font12"></textarea></td>
                                               </tr>
                                               <tr><th>时间格式</th></tr>
                                               <tr>
                                                   <td>
                                                       <select class="ma-select-f width-60"></select>
                                                       <span>：</span>
                                                       <select class="ma-select-f width-60"></select>
                                                   </td>
                                               </tr>
                                               <tr><th>多项选择</th></tr>
                                               <tr>
                                                   <td>
                                                       <p>
                                                           <input type="checkbox"/>
                                                           <input type="text" class="md-int-short" />
                                                           <a title="添加一条" class="md-add-ico" href="#"></a>
                                                           <a title="删除此条" class="md-minus-ico" href="#"></a>
                                                       </p>
                                                       <p>
                                                           <input type="checkbox"/>
                                                           <input type="text" class="md-int-short" />
                                                           <a title="添加一条" class="md-add-ico" href="#"></a>
                                                           <a title="删除此条" class="md-minus-ico" href="#"></a>
                                                       </p>
                                                   </td>
                                               </tr>
                                               <tr><td><input type="checkbox"/><span class="marl5">必填</span></td></tr>
                                               <tr>
                                                   <td>
                                                       <table>
                                                           <tr>
                                                               <th>最大值</th>
                                                               <td><input class="md-int-mid width-60" type="text" /></td>
                                                               <th>最小值</th>
                                                               <td><input class="md-int-mid width-60" type="text" /></td>
                                                           </tr>
                                                       </table>
                                                   </td>
                                               </tr>
                                               <tr><th><a href="#">选项模板</a></th></tr>
                                           </table>
                                           <!--设置over-->
                                       </div>
                                   </div>
                                   <!--详细属性设置框over-->
                                   <a href="#" class="md-add-row block aligncenter">
                                       <i class="md-plus-add"></i>
                                       <span>添加一行</span>
                                   </a>
                                   <!--2013-8-26晚over-->
                                   <div class="md-doc-set-box">
                                       <table class="md-set-table" width="100%">
                                           <tr>
                                               <th class="mdcurrent-th">当行输入</th>
                                               <td class="mdcurrent-td">
                                                 <div class="td-inner clearfix">
                                                   <input type="text" class="md-int-short">
                                                   <!--编辑删除btn begin-->
                                                    <span class="floatright md-make-btns">
                                                        <a href="#" class="md-mi-ico2 md-mi-edit" title="编辑"></a>
                                                        <a href="#" class="md-mi-ico2 mart5 md-mi-delete" title="删除"></a>
                                                        <a title="增加一列" class="md-add-ico" href="#"></a>
                                                        <a title="删除一列" class="md-minus-ico" href="#"></a>
                                                    </span>
                                                   <!--编辑删除btn over-->
                                                 </div>
                                               </td>
                                               <th>下拉选项</th>
                                               <td>
                                                 <div class="td-inner clearfix">
                                                   <select class="ma-select-f floatleft">
                                                    <option>考勤审批流程</option>
                                                    <option>考勤审批流程</option>
                                                    <option>考勤审批流程</option>
                                                    <option>考勤审批流程</option>
                                                    </select>
                                                   <!--编辑删除btn begin-->

                                                 <div>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                                   <div class="md-doc-set-box">
                                       <table class="md-set-table" width="100%">
                                           <tr>
                                               <th>日期选择</th>
                                               <td>
                                                 <div class="td-inner clearfix">
                                                   <div class="md-clander floatleft">
                                                     <input type="text" class="md-int-short">
                                                     <a href="#" class="md-cl-ico"></a>
                                                   </div>
                                                 </div>
                                               </td>
                                               <th>加减控制</th>
                                               <td>
                                                 <div class="td-inner clearfix">
                                                   <span class="block mart5 add-m floatleft">
                                                     <a href="#" class="m-p-minus"></a>
                                                     <input class="mini-int width-60">
                                                     <a href="#" class="m-p-plus"></a>
                                                   </span>
                                                 </div>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                                   <div class="md-doc-set-box">
                                       <table class="md-set-table" width="100%">
                                           <tr>
                                               <th>单选框</th>
                                               <td>
                                                  <div class="td-inner clearfix">
                                                      <div class="mart5 floatleft">
                                                        <em><input type="radio" /> 男</em>
                                                        <em><input type="radio" /> 女</em>
                                                        <em><input type="radio" /> 人妖</em>
                                                      </div>
                                                  </div>
                                               </td>
                                               <th>加减控制</th>
                                               <td>
                                                 <div class="td-inner clearfix">
                                                   <div class="mart5 floatleft">
                                                    <em><input type="checkbox" /> 男</em>
                                                    <em><input type="checkbox" /> 女</em>
                                                    <em><input type="checkbox" /> 人妖</em>
                                                   </div>
                                                 </div>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                                   <div class="md-doc-set-box">
                                       <table class="md-set-table" width="100%">
                                           <tr>
                                               <th>多行文本</th>
                                               <td style="width: auto;">
                                                 <div class="td-inner has-error clearfix">
                                                   <textarea cols="40" rows="4" class="font12 floatleft"></textarea>
                                                   <label class="control-label" for="inputError">填写错误</label>
                                                 </div>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                                   <div class="md-doc-set-box">
                                       <table class="md-set-table" width="100%">
                                           <tr>
                                               <th>申请人</th>
                                               <td>
                                                 <div class="td-inner clearfix">王振佳</div>
                                               </td>
                                               <th>申请日期</th>
                                               <td>
                                                   <div class="td-inner clearfix">2013-8-28</div>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                                   <!--上传附件的beign-->
                                   <div class="md-doc-set-box">
                                       <table class="md-set-table" width="100%">
                                           <tr>
                                               <th>上传附件</th>
                                               <td colspan="3">
                                                  <div class="td-inner  clearfix">
                                                     <textarea cols="40" rows="2" class="font12 floatleft"></textarea>
                                                     <div class="md-mini-ico clearfix aligncenter" style="height:auto;">
                                                        <a href="#" class="floatleft md-psot-ico"><img src="../../images/Post_doc27.png"/><br><em>上传文档</em></a>
                                                        <a href="#" class="floatleft md-psot-ico"><img src="../../images/Post_pic27.png"/><br><em>上传图片</em></a>
                                                     </div>
                                                  </div>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                                   <!--上传附件的over-->
                               </div>
                               <p class="alignright Noprint mart10">
                                 <button class="md-plus-btn color-white">保  存<em class="md-plus-btn-r"></em></button>
                                 <button href="#" class="md-plus-btn2">取  消<em class="md-plus-btn-r"></em></button>
                               </p>
                            </div>
                            <!--右侧生成表单区over-->
                         </div>
                    </div>
                </div>
              </div>
             <!--2013-8-25 over-->
          </div>
          <div class="Clear"></div>
      </div>
      <div class="Clear"></div>
  </div>
  <!--footer begin-->
  <div id="footer">

  </div>
  <!--footer over-->
</div>
<!--<script type="text/javascript" src="../../js/jquery.js"></script>-->
    <!--<script type="text/javascript">-->

    <!--var MDobj = {-->
    <!--paras:{ access_token:""},-->
    <!--baseUrl:"https://api.mingdao.com/",-->
    <!--//获取明道头部的html-->
    <!--GetHeader:function (callback) {-->
    <!--var ajaxUrl = MDobj.baseUrl + "md/header.aspx?jsoncallback=?";-->

    <!--$.getJSON(ajaxUrl,-->
    <!--{ u_key:MDobj.paras.access_token },-->
    <!--function (data) {-->
    <!--callback(data);-->
    <!--});-->

    <!--},-->

    <!--//获取明道左侧菜单栏html-->
    <!--GetLeftMenu:function (callback) {-->
    <!--var ajaxUrl = MDobj.baseUrl + "md/leftmenu.aspx?jsoncallback=?";-->
    <!--$.getJSON(ajaxUrl,-->
    <!--{ u_key:MDobj.paras.access_token },-->
    <!--function (data) {-->
    <!--callback(data);-->
    <!--});-->
    <!--},-->

    <!--//获取明道底部html-->
    <!--GetFooter:function (callback) {-->
    <!--var ajaxUrl = MDobj.baseUrl + "md/footer.aspx?jsoncallback=?";-->
    <!--$.getJSON(ajaxUrl,-->
    <!--function (data) {-->
    <!--callback(data);-->
    <!--});-->
    <!--}-->

    <!--}-->

    <!--$(document).ready(function () {-->
    <!--MDobj.paras.access_token = ""; //访问临牌access_token-->
    <!--MDobj.GetHeader(function (data) {-->
    <!--$("#header").html(data.result);-->
    <!--});-->
    <!--MDobj.GetLeftMenu(function (data) {-->
    <!--$("#leftmenu").html(data.result);-->
    <!--});-->
    <!--MDobj.GetFooter(function (data) {-->
    <!--$("#footer").html(data.result);-->
    <!--});-->
    <!--});-->
    <!--</script>-->
</body>
</html>