<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>单据申请首页</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="content">
<div class="md-plus">
<!--alert begin 2013-07-26-->
<div class="alertDialog" style="top:100px;left:500px;">
    <span>这里的网速慢死了！</span>
    <a href="#" class="close">×</a>
</div>
<div class="errorDialog" style="top:300px;left:500px;display:none">
    <span>登录失败：密码错误！</span>
    <a href="#" class="close">×</a>
</div>
<!--alert over 2013-07-26-->
<!--@出来的提示框beign-->
<div class="md-result-user group" style="display:none;left:500px;top:20px;">
    <p class="the-name">组织结构</p>
    <div class="md-results clearfix"><!--boss-->
        <span><img src="../../images/default0.gif"/></span>
        <span class="md-name"><b>王</b>振佳</span>
        <span class="txt_hidden">（开发开发部开发部开发部开发部部）</span>
    </div>
    <div class="md-results current  clearfix">
        <span class="md-name">王振佳王振佳王振佳王振佳</span>
        <span class="txt_hidden">（如果 存在）</span>
    </div>
    <p class="the-name">预设审批角色</p>
    <div class="md-results  clearfix">
        <span><img src="../../images/default.gif"/></span>
        <span class="md-name txt_hidden">赵阳</span>
        <span>（普通员工</span>
        <span>）</span>
    </div>
    <div class="md-results clearfix"><!--manager-->
        <span><img src="../../images/default2.gif"/></span>
        <span class="md-name">直属上司</span>
        <span>（自动获取</span>
        <span>）</span>
    </div>
    <div class="md-results clearfix"><!--manager-->
        <span><img src="../../images/default2.gif"/></span>
        <span class="md-name">直属上司</span>
        <span>（自动获取</span>
        <span>）</span>
    </div>
</div>
<!--@出来的提示框over-->
<!--知识门户begin-->
<div class="md-plus-top clearfix">
    <div class="floatleft md-plus-l"><span class="md-ico floatleft md-ico-logo"></span>快捷审批</div>
</div>
<!--知识门户over-->
<div class="md-plus-inner">
    <!--the inner nav begin-->
    <div class="md-p-nav clearfix">
        <ul class="floatleft clearfix">
            <li class="current"><a href="#">我申请的项目</a></li>
            <li><a href="#">我审批的项目<em class="md-plus-news"></em></a></li>
            <li><a href="#">我经办的项目</a></li>
            <li class="app-set"><a href="#"><em class="md-mi-ico2 md-mi-set"></em>应用管理</a></li>
        </ul>
        <a href="#" class="md-plus-btn a_mask  floatright color-white marr30">提交新申请<em class="md-plus-btn-r"></em></a>
    </div>
    <!--the inner nav over-->
    <!--二级导航 begin-->
    <div class="md-p-nav2 clearfix">
       <ul class="clearfix font16 floatleft">
           <li class="current"><a href="#">表单设置</a></li>
           <!--<li class="current"><a href="#">待审核单据<em class="md-plus-news">2</em></a></li>-->
           <li><a href="#">流程设置</a></li>
           <li><a href="#">申请日志</a></li>
       </ul>
    </div>
    <!--二级导航 over-->
    <!--the main begin-->
    <div class="md-plus-main" style="width:770px;">
        <!--<p class="aligncenter p-top40">请从<a href="#">表单中心</a>添加个人需要的申请表单</p>-->
        <!--已启用的表单begin-->
        <div class="md-p-nav2 noborder clearfix">
            <span class="font16 marl15">已启用的表单</span>
            <!--搜索begin-->
            <div class="clearfix floatright">
                <div class="md-plus-ser floatright marl30 marr15">
                    <input type="text" value="搜索表单">
                    <button class="btn-ser-md"></button>
                    <ul>
                        <li class="current"><a href="#"><em class="txt_hidden">王振佳是明道的什佳是明道的什佳是明道的什么人呢</em>按标题</a></li>
                        <li><a href="#"><em class="txt_hidden">王振佳</em>按申请人申请人申请人申请人申请人申请人申请人申请人</a></li>
                    </ul>
                </div>
            </div>
            <!--搜索over-->
        </div>
        <div class="clearfix md-lise-box marl15">
            <!--一个申请单begin-->
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="采购申请单">
                    <div class="md-plus-h mart5 clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-15.png"></span>
                        <table class="h2 floatright"><tr><td>采购申请</td></tr></table>
                    </div>
                    <p class="clearfix mart5">
                        <a href="#" class="font14">停用</a>
                        <a href="#" class="floatright md-mi-ico md-mi-delete" title="删除"></a>
                        <a href="#" class="floatright md-mi-ico2 md-mi-set" title="设置"></a>
                        <a href="#" class="floatright md-mi-ico md-mi-count" title="统计"></a>
                    </p>
                </div>
            </div>
            <!--一个申请单over-->
            <!--一个申请单begin-->
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="付款申请">
                    <div class="md-plus-h mart5 clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-6.png"></span>
                        <a href="#" class="h2 floatright">付款申请</a>
                    </div>
                    <p class="clearfix mart5">
                        <a href="#" class="font14">停用</a>
                        <a href="#" class="floatright md-mi-ico md-mi-delete" title="删除"></a>
                        <a href="#" class="floatright md-mi-ico2 md-mi-set" title="设置"></a>
                    </p>
                </div>
            </div>
            <!--一个申请单over-->
            <!--一个申请单begin-->
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="采购申请">
                    <div class="md-plus-h mart5 clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-4.png"></span>
                        <a href="#" class="h2 floatright">采购申请</a>
                    </div>
                    <p class="clearfix mart5">
                        <a href="#" class="font14">停用</a>
                        <a href="#" class="floatright md-mi-ico md-mi-delete" title="删除"></a>
                        <a href="#" class="floatright md-mi-ico2 md-mi-set" title="设置"></a>
                    </p>
                </div>
            </div>
            <!--一个申请单over-->
            <!--一个申请单begin-->
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="付款申请">
                    <div class="md-plus-h mart5 clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-5.png"></span>
                        <a href="#" class="h2 floatright">付款申请</a>
                    </div>
                    <p class="clearfix mart5">
                        <a href="#" class="font14">停用</a>
                        <a href="#" class="floatright md-mi-ico md-mi-delete" title="删除"></a>
                        <a href="#" class="floatright md-mi-ico2 md-mi-set" title="设置"></a>
                    </p>
                </div>
            </div>
            <!--一个申请单over-->
        </div>
        <!--已启用的表单over-->
        <!--未启用的表单begin-->
        <div class="md-p-nav2 noborder clearfix">
            <span class="font16 marl15">未启用的表单</span>
        </div>
        <div class="clearfix md-lise-box marl15">
            <!--一个申请单begin-->
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="采购申请单">
                    <div class="md-plus-h mart5 clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-10.png"></span>
                        <a href="#" class="h2 floatright">采购申请</a>
                    </div>
                    <p class="clearfix mart5">
                        <a href="#" class="font14">启用</a>
                        <a href="#" class="floatright md-mi-ico md-mi-delete" title="删除"></a>
                        <a href="#" class="floatright md-mi-ico2 md-mi-set" title="设置"></a>
                    </p>
                </div>
            </div>
            <!--一个申请单over-->
            <!--一个申请单begin-->
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="采购申请单">
                    <div class="md-plus-h mart5 clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-15.png"></span>
                        <a href="#" class="h2 floatright">采购申请</a>
                    </div>
                    <p class="clearfix mart5">
                        <a href="#" class="font14">启用</a>
                        <a href="#" class="floatright md-mi-ico md-mi-delete" title="删除"></a>
                        <a href="#" class="floatright md-mi-ico2 md-mi-set" title="设置"></a>
                    </p>
                </div>
            </div>
            <!--一个申请单over-->
            <!--一个申请单begin-->
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="采购申请单">
                    <div class="md-plus-h mart5 clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-14.png"></span>
                        <a href="#" class="h2 floatright">采购申请</a>
                    </div>
                    <p class="clearfix mart5">
                        <a href="#" class="font14">启用</a>
                        <a href="#" class="floatright md-mi-ico md-mi-delete" title="删除"></a>
                        <a href="#" class="floatright md-mi-ico2 md-mi-set" title="设置"></a>
                    </p>
                </div>
            </div>
            <!--一个申请单over-->
            <!--创建申请模板begin-->
            <div class="md-doc-item-box floatleft gray">
                <div class="md-doc-item" title="创建申请模板">
                    <div class="p-top10 clearfix aligncenter">
                        <a href="#" class="font16"><em class="big-add p-bt20"></em><br><span>创建申请模板</span></a>
                    </div>
                </div>
            </div>
            <!--创建申请模板over-->
        </div>
        <!--未启用的表单over-->
    </div>
    <!--the main over-->
</div>
</div>
</div>
</body>
</html>
