<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>弹出-02</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
 <div class="md-plus">
   <!--新建流程弹出框 begin-->
    <div class="md-plus-pop" style="width:450px;top:100px;left:50%;margin-left:-200px;">
        <div class="md-plus-pop-inner">
                <a href="#" class="md-delect"></a>
                <p class="font18 md-title">选项模板<span class="font12 marl30">您可以通过模板迅速获取常用的选项</span></p>
                <div class="md-pop-main">
                   <div class="clearfix mart10">
                       <!--左侧select begin-->
                       <div class="md-select-box floatleft">
                           <div class="md-select-inner md-select-inner2 mart10 aligncenter">
                                <select   multiple="multiple" size="19">
                                      <option value="volvo">审批人</option>
                                      <option value="saab">审批步骤</option>
                                      <option value="mercedes">Mercedes</option>
                                      <option value="audi">Audi</option>
                                </select>
                           </div>
                       </div>
                       <!--左侧select over-->
                       <!--右侧select begin-->
                       <div class="md-select-box floatright marr20">
                           <div class="clearfix">
                              <div class="md-select-inner md-select-inner2 mart10 floatleft">
                                  <select  multiple="multiple" size="19">
                                      <option value="volvo">people1</option>
                                      <option value="saab">people2</option>
                                      <option value="mercedes">people3</option>
                                      <option value="audi">people4</option>
                                  </select>
                           </div>
                           </div>
                       </div>
                       <!--右侧select over-->
                   </div>
                   <p class="alignright mart20  marr30">
                       <button class="md-plus-btn color-white">确  认<em class="md-plus-btn-r"></em></button>
                       <button href="#" class="md-plus-btn2">取  消<em class="md-plus-btn-r"></em></button>
                   </p>
                </div>
            </div>
        </div>
   <!--新建流程弹出框 over-->
 </div>
</body>
</html>