<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>step1</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/jscrollpane.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
    <!--<script  type="text/javascript" src="../../js/jquery.mousewheel.js"></script>-->
    <!--<script  type="text/javascript" src="../../js/jquery.jscrollpane.js"></script>-->
    <script type="text/javascript">
        $(function(){
            $('.card-list').jScrollPane({
                'mouseWheelSpeed':20,
                "showArrows":false
            });
        });
   </script>
</head>
<body>
<div class="md-plus-pop" style="width:754px;top:100px;left:50%;margin-left:-377px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix">
            <span class="md-ico floatleft md-ico-logo mart10 marr10"></span>
            <span class="floatleft">提交新申请</span>
        </p>
        <div class="md-pop-main">
           <div class="md-doc-set-box noborder">
                <!--标题和搜索 begin-->
                <div class="md-p-nav2 noborder nopadding mart10 clearfix">
                   <ul class="clearfix floatleft font16">
                       <li class="marr10">选择申请表单</li>
                       <li class="current marl5"><a href="#" class="font12">表单设置</a></li>
                   </ul>
                    <!--搜索begin-->
                    <div class="clearfix floatright">
                        <div class="md-plus-ser floatright marl30 marr15">
                            <input type="text">
                            <button class="btn-ser-md"></button>
                            <ul>
                                <li class="current"><a href="#"><em class="txt_hidden">王振佳是明道的什么人呢</em>按标题</a></li>
                                <li><a href="#"><em>王振佳</em>按申请人</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--搜索over-->
                </div>
                <!--标题和搜索 over-->
                <!--表单列表begin-->
                <div class="card-list mart10">
                    <div class="clearfix md-lise-box marl15">
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="名片印刷申请">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-16.png"></span>
                                    <a href="#" class="h2 floatright">名片印刷申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="采购申请单">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-15.png"></span>
                                    <table class="h2 floatright"><tr><td>采购申请单</td></tr></table>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="采购申请单">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-12.png"></span>
                                    <a href="#" class="h2 floatright">采购申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="名片印刷申请">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-16.png"></span>
                                    <a href="#" class="h2 floatright">名片印刷申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="采购申请单">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-13.png"></span>
                                    <a href="#" class="h2 floatright">采购申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="采购申请单">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-13.png"></span>
                                    <a href="#" class="h2 floatright">采购申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="名片印刷申请">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-16.png"></span>
                                    <a href="#" class="h2 floatright">名片印刷申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="采购申请单">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-15.png"></span>
                                    <a href="#" class="h2 floatright">采购申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="采购申请单">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-12.png"></span>
                                    <a href="#" class="h2 floatright">采购申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="采购申请单">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-13.png"></span>
                                    <a href="#" class="h2 floatright">采购申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="采购申请单">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-15.png"></span>
                                    <a href="#" class="h2 floatright">采购申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="采购申请单">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-15.png"></span>
                                    <a href="#" class="h2 floatright">采购申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="名片印刷申请">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-16.png"></span>
                                    <a href="#" class="h2 floatright">名片印刷申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="名片印刷申请">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-16.png"></span>
                                    <a href="#" class="h2 floatright">名片印刷申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="名片印刷申请">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-16.png"></span>
                                    <a href="#" class="h2 floatright">名片印刷申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="名片印刷申请">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-16.png"></span>
                                    <a href="#" class="h2 floatright">名片印刷申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                        <!--一个申请单begin-->
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="名片印刷申请">
                                <div class="md-plus-h mart5 clearfix">
                                    <span class="md-ico floatleft"><img src="../../images/theme1-img/ico-16.png"></span>
                                    <a href="#" class="h2 floatright">名片印刷申请</a>
                                </div>
                            </div>
                        </div>
                        <!--一个申请单over-->
                    </div>
                </div>
                <!--表单列表over-->
           </div>
        </div>
    </div>
</div>
</body>
</html>