<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>step2</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".IntTip").hover(function(){
                $(this).next(".ask-pop").show();
            },function(){
                $(this).next(".ask-pop").hide();
            });
        })
    </script>
</head>
<body>
<div class="md-plus-pop" style="width:780px;top:30px;left:50%;margin-left:-390px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix">
            <span class="floatleft mart5 marr10"><img src="../../images/theme1-img/ico-9.png"></span>
            <span class="floatleft">岗位薪资调整申请</span>
        </p>
        <div class="md-pop-main">
          <h2 class="md-doc-title clearfix aligncenter">
                <p class="font16">岗位薪资调整申请</p>
                <!--<em class="md-doc-num font12">单据编号：<a>01-103974738</a></em>-->
            </h2>
          <div class="md-doc-set-box noborder underlined">
            <table class="md-set-table md-set-table-mini marl10" width="100%">
              <tr>
                  <th width="50">申请人</th>
                  <td style="width: 230px;">
                      <div class="IntW clearfix" style="width:150px;">
                        <em class="IntTip"></em>
                        <div class="ask-pop font14">
                            <p class="mart5">您可以在基础套餐上，叠加价格为99元/月的表单拓展包，包含5个自定义表单。</p>
                        </div>
                        <input type="text" class="md-int-lang">
                    </div>
                  </td>
                  <th>编号</th>
                  <td><span class="color-p">自动生成</span></td>
              </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr>
                      <th>申请部门</th>
                      <td style="width: 230px;">
                          <select class="ma-select-f">
                            <option>考勤审批流程程程程程</option>
                            <option>考勤审批流程</option>
                            <option>考勤审批流程</option>
                            <option>考勤审批流程</option>
                          </select>
                      </td>
                      <th>申请日期</th>
                      <td>2013-06-06 12:40</td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr>
                    <th>原岗位</th>
                    <td style="width: 230px;">
                        <div class="td-inner clearfix" style="width: 230px;">
                           <div class="has-general has-error clearfix">
                               <input type="text" class="md-int-lang" style="width:auto;">
                               <label class="control-line" style="width:auto;height:25px;line-height:25px;display: inline;">填写地点</label>
                           </div>
                       </div>
                    </td>
                    <th>调整员工</th>
                    <td><input type="text" class="md-int-lang"></td>
                  </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr>
                    <th>新岗位</th>
                    <td style="width: 230px;"><input type="text" class="md-int-lang"></td>
                    <th>原薪资</th>
                    <td><input class="md-int-short" type="text"> 元</td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr>
                     <th>调整幅度</th>
                     <td><input class="md-int-short" type="text"> 元</td>
                     <th>新薪资</th>
                     <td><input class="md-int-short" type="text"> 元</td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr class="area">
                     <th>选择地点</th>
                     <td colspan="3">
                         <select class="ma-select-f">
                            <option>河北省</option>
                            <option>安徽省</option>
                         </select>
                         <span>省</span>
                         <select class="ma-select-f">
                            <option>石家庄</option>
                            <option>张家口</option>
                         </select>
                         <span>市</span>
                         <select class="ma-select-f">
                            <option>正定</option>
                            <option>北京</option>
                         </select>
                         <span>区/县</span>
                     </td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr>
                     <td colspan="4" class="aligncenter nopadding">
                         <a class="md-add-row md-add-row2 block aligncenter">个人资料</a>
                     </td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr class="Date">
                     <th>试用期限</th>
                     <td colspan="3">
                         <div class="td-inner clearfix">
                               <div class="has-general has-error floatleft">
                                   <div class="md-clander floatleft">
                                       <input type="text" readonly="readonly" value="" class="md-int-short width-100 validation-required-c">
                                       <a class="md-cl-ico" href="#"></a>
                                   </div>
                                   <label  class="control-label" style="width: 85px; height: 15px; left: 7px; display: inline;">请输入日期</label>
                               </div>
                               <span class="floatleft marl5">至</span>
                               <div class="has-general floatleft">
                                   <div class="md-clander floatleft">
                                       <input type="text" readonly="readonly" value="" class="md-int-short width-100 validation-required-c">
                                       <a class="md-cl-ico" href="#"></a>
                                   </div>
                               </div>
                               <span class="marl5">共</span>
                               <input type="text" class="md-int-short width-60"/>
                               <span>月</span>
                         </div>
                     </td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr class="Date">
                     <th>实习期限</th>
                     <td colspan="3">
                         <div class="td-inner clearfix">
                               <div class="has-general has-error floatleft">
                                   <div class="md-clander floatleft">
                                       <input type="text" readonly="readonly" value="" class="md-int-short width-100 validation-required-c">
                                       <a class="md-cl-ico" href="#"></a>
                                   </div>
                                   <label  class="control-label" style="width: 85px; height: 15px; left: 7px; display: inline;">请输入日期</label>
                               </div>
                               <span class="floatleft marl5">至</span>
                               <div class="has-general floatleft">
                                   <div class="md-clander floatleft">
                                       <input type="text" readonly="readonly" value="" class="md-int-short width-100 validation-required-c">
                                       <a class="md-cl-ico" href="#"></a>
                                   </div>
                               </div>
                               <span class="marl5">共</span>
                               <input type="text" class="md-int-short width-60"/>
                               <span>月</span>
                         </div>
                     </td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr>
                     <th valign="top" style="vertical-align:top;">备注</th>
                     <td colspan="3">
                         <div class="td-inner clearfix">
                             <div class="has-general has-error">
                                 <div class="Textarea">
                                     <div contenteditable="true"></div>
                                     <span class="textlength">还可输入<em>20</em>个字</span>
                                 </div>
                             </div>
                         </div>
                     </td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr>
                     <th>上传附件</th>
                     <td colspan="3">
                         <a href="#" class="upload">上传文件</a>
                     </td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr id="Up" style="display:none;">
                      <th></th>
                      <td colspan="3">
                        <!--附件begin-->
                        <div class="updaterDialog_Main aligncenter clearfix">
                            <em class="ti"><img src="../../images/Tag_UpdaterWhite.png"/></em>
                            <a href="#" class="floatleft md-psot-ico" style="display: none;"><img src="../../images/Post_doc27.png"/><br><em>上传文档</em></a>
                            <!--已上传begin-->
                            <dl class="alignleft">
                                <dd class="clearfix">
                                    <span class="editbox">
                                        <a title="编辑" class="md-mi-ico2 md-mi-edit" href="#"></a>
                                    </span>
                                    <span class="floatleft marr10"><img src="../../images/Ico_DocUploadSuc.png"/></span>
                                    <p class="docname"><span class="txt_hidden">新建文本文档</span>.txt (0.15KB)</p>
                                    <p>上传成功 <a href="#">换一个</a></p>
                                </dd>
                                <dd class="clearfix noborder">
                                    <span class="editbox">
                                        <a href="#">确定</a>
                                        <a href="#">取消</a>
                                    </span>
                                    <span class="floatleft marr10"><img src="../../images/Ico_DocUploadSuc.png"/></span>
                                    <p class="docname">
                                        <input class="TextBox" id="Rename_FileName" style="width:200px" value="新建文本文档">
                                        .txt (0.15KB)
                                    </p>
                                    <p>上传成功 <a href="#">换一个</a></p>
                                </dd>
                            </dl>
                            <!--已上传over-->
                            <!--进度条begin-->
                            <div class="probar mart5">
                                <p class="alignleft">上传中...(42.09MB)<span class="marl20">已完成<em>32%</em></span><a href="#" class="marl30">取消上传</a></p>
                                <div class="progressbarOut mart10"><div class="progressbar" style="width:50%;"></div></div>
                            </div>
                            <!--进度条over-->
                        </div>
                        <!--附件over-->
                      </td>
                </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr>
                     <th>紧急</th>
                     <td colspan="3"><label><input type="checkbox"> (置顶在TA的待审列表中)</label></td>
                </tr>
            </table>
            <div class="dbline"><p></p></div>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
                <tr>
                     <th colspan="4" style="padding-left: 0;">
                         <div class="txt-prompt" style="width:720px;">
                             <p>表单说明</p>
                             <pre>您可以为现有的表单，预置审批流程。开启后只能使用管理员定义的审批流程。您可以为现有的表单，预置审批流程。</pre>
                             <a class="md-delect" href="#" title="不再提示"></a>
                         </div>
                     </th>
                </tr>
            </table>
            <p class="alignright marr30 mart10 clearfix">
                <a href="#" class="md-plus-btn color-white floatright">下一步<em class="md-plus-btn-r"></em></a>
            </p>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".upload").click(function(){
            $("#Up").slideToggle();
        });
    });
</script>
</body>
</html>