<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>step3</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<div class="md-plus-pop" style="width:780px;top:100px;left:50%;margin-left:-390px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix">
            <span class="floatleft mart5 marr10"><img src="../../images/theme1-img/ico-9.png"></span>
            <span class="floatleft">岗位薪资调整申请</span>
        </p>
        <div class="md-pop-main">
            <div class="md-doc-set-box mart10">
                 <p class="color-p font16">选择一种审批流程</p>
                 <select class="ma-select-f nomarl mart20">
                     <option>
                         <span>刘德华 -&gt;</span><span>王振佳 -&gt;</span><span>赵阳 -&gt;</span><span>刘德华 -&gt;</span><span>刘德华 -&gt;</span>
                         <span>刘德华 -&gt;</span><span>王振佳 -&gt;</span><span>刘德华 -&gt;</span><span>刘德华 -&gt;</span>
                     </option>
                 </select>
                 <p class="mart15">
                     <a href="#" class="color-p">增加一个自定义流程 </a>|
                     <a href="#" class="color-p"> 删除当前选择的流程</a>
                 </p>
            </div>
            <!--详细流程begin-->
            <div class="md-doc-set-box mart10">
                <table class="process-table mart10 nomarl">
                      <tr>
                          <th rowspan="4" valign="top">详细流程</th>
                          <td>第1步 审批 <span class="color-p">刘德华</span></td>
                      </tr>
                      <tr><td>第2步 审批 <span class="color-p">王振佳</span></td></tr>
                      <tr><td>第3步 审批 <span class="color-p">王振佳</span></td></tr>
                      <tr><td>经办执行人 <span class="color-p">赵阳</span></td></tr>
                </table>
            </div>
            <div class="md-doc-set-box mart10">
                <table class="process-table mart10 nomarl" width="100%">
                    <tr>
                        <th valign="top" style="width: 70px;">选项</th>
                        <td>
                            <p><label><input type="checkbox"> 关闭动态信息提示</label></p>
                            <p><label><input type="checkbox"> 关闭动态信息提示</label></p>
                        </td>
                        <th valign="top" style="width: 70px;">提醒方式</th>
                        <td>
                            <p><label><input type="checkbox"> 关闭动态信息提示</label></p>
                            <p>
                                <label><input type="radio"> 手动</label>
                                <label><input type="radio"> 自动</label>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <!--详细流程over-->
            <p class="alignright mart20 clearfix">
              <a href="#" class="floatleft color-p font14">&lt; 返回上一步</a>
              <a href="#" class="md-plus-btn color-white marr10 floatright">完成提交<em class="md-plus-btn-r"></em></a>
            </p>
        </div>
    </div>
</div>
</body>
</html>