<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>step2</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<div class="md-plus-pop" style="width:574px;top:100px;left:50%;margin-left:-287px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix">
            <span class="floatleft mart5 marr10"><img src="../../images/theme1-img/ico-9.png"></span>
            <span class="floatleft">岗位薪资调整申请</span>
        </p>
        <div class="md-pop-main">
          <div class="md-doc-set-box noborder">
            <table class="md-set-table md-set-table-mini marl20" width="100%">
              <tr>
                  <th width="50">申请人</th>
                  <td>刘德华</td>
                  <th>编号</th>
                  <td><span class="color-p">自动生成</span></td>
              </tr>
              <tr>
                  <th>申请部门</th>
                  <td>
                      <select class="ma-select-f">
                        <option>考勤审批流程程程程程</option>
                        <option>考勤审批流程</option>
                        <option>考勤审批流程</option>
                        <option>考勤审批流程</option>
                      </select>
                  </td>
                  <th>申请日期</th>
                  <td>2013-06-06 12:40</td>
              </tr>
              <tr>
                <th>原岗位</th>
                <td><input type="text" class="md-int-lang"></td>
                <th>调整员工</th>
                <td><input type="text" class="md-int-lang"></td>
              </tr>
              <tr>
                <th>新岗位</th>
                <td><input type="text" class="md-int-lang"></td>
                <th>原薪资</th>
                <td><input class="md-int-short" type="text"> 元</td>
              </tr>
              <tr>
                 <th>调整幅度</th>
                 <td><input class="md-int-short" type="text"> 元</td>
                 <th>新薪资</th>
                 <td><input class="md-int-short" type="text"> 元</td>
              </tr>
              <tr>
                 <th valign="top">备注</th>
                 <td colspan="3">
                     <div class="td-inner clearfix">
                         <div class="has-general has-error">
                             <textarea rows="5" cols="57"></textarea>
                             <span class="textlength">还可输入<em>20</em>个字</span>
                         </div>
                     </div>
                 </td>
              </tr>
              <tr>
                 <th>上传附件</th>
                 <td colspan="3"><a href="#" class="upload">上传文件</a></td>
              </tr>
              <tr>
                 <th>紧急</th>
                 <td colspan="3"><label><input type="checkbox"> (置顶在TA的待审列表中)</label></td>
              </tr>
            </table>
            <p class="alignright marr30 mart10 clearfix">
                <a href="#" class="md-plus-btn color-white floatright">下一步<em class="md-plus-btn-r"></em></a>
            </p>
          </div>
        </div>
    </div>
</div>
</body>
</html>