<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>申请详情</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".IntTip").hover(function(){
                $(this).next(".ask-pop").show();
            },function(){
                $(this).next(".ask-pop").hide();
            });
        })
    </script>
</head>
<body>
<div class="md-plus">
<!--知识门户begin-->
<div class="md-plus-top clearfix">
    <div class="floatleft md-plus-l"><span class="md-ico floatleft md-ico-logo"></span>快捷审批</div>
</div>
<!--知识门户over-->
<div class="md-plus-inner">
<!--the inner nav begin-->
<div class="md-p-nav clearfix">
    <ul class="floatleft clearfix">
        <li class="current"><a href="#">我申请的项目</a></li>
        <li><a href="#">我审批的项目<em class="md-plus-news"></em></a></li>
        <li><a href="#">我经办的项目</a></li>
        <li class="app-set"><a href="#"><em class="md-mi-ico2 md-mi-set"></em>应用管理</a></li>
    </ul>
    <a href="#" class="md-plus-btn floatright color-white marr30">提交新申请<em class="md-plus-btn-r"></em></a>
</div>
<!--the inner nav over-->
<!--二级导航 begin-->
<div class="md-p-nav2 noborder clearfix">
   <ul class="clearfix floatleft font16">
       <li class="current"><a href="#">待审核</a></li>
       <!--<li class="current"><a href="#">待审核单据<em class="md-plus-news">2</em></a></li>-->
       <li><a href="#">已批准</a></li>
       <li><a href="#">已否决</a></li>
   </ul>

</div>
<!--二级导航 over-->
<!--单据详情begin-->
<div class="md-plus-main mart10">
<!--排序和搜索begin-->
 <div class="md-p-nav2 noborder clearfix totop">
    <div class="clearfix floatright">
        <div class="md-plus-ser floatright marl30 marr15">
            <input type="text">
            <button class="btn-ser-md"></button>
            <ul style="display:none">
                <li class="current"><a href="#"><em class="txt_hidden">王振佳是明道的什么人呢</em>按标题</a></li>
                <li><a href="#"><em>王振佳</em>按申请人</a></li>
            </ul>
            <ul style="display:none">
               <li class="clearfix">
                   <div class="md-clander floatleft">
                        <input type="text" class="md-int-mid">
                        <a href="#" class="md-cl-ico md-ser-ico"></a>
                   </div>
                   <a href="#" class="floatleft block font20 mart5">×</a>
               </li>
            </ul>
        </div>
        <div class="md-plus-sequence current"> <!--此处加减current 控制下拉框的显隐，你懂得！-->
            <div class="block"><!--此处dom变了,上下分别是md-mi-up,md-mi-down-->
                <em class="md-ico md-ico-seq"></em>
                <a href="#">按类别排序</a>
                <span class="md-mi-ico2 md-mi-up"></span>
            </div>
            <div class="md-seq-down" style="display:block">
                <em class="em-ti-top"></em>
                <a href="#"><em class="md-ico md-choosed"></em>按类别排序</a>
                <a href="#" class="noborder"><em class="md-ico md-choose"></em>按时间排序</a>
            </div>
        </div>
    </div>
 </div>
<!--排序和搜索over-->
  <h2 class="md-doc-title clearfix aligncenter">
        <a href="#" class="floatleft font14">&lt; 返回</a>
        <span class="font16">岗位薪资调整申请</span>
        <em class="md-doc-num font12">单据编号：<a href="#">01-103974738</a></em>
  </h2>
  <div class="md-doc-list p-bt20 mart20">
      <p class="alignright"><a href="#" class="btn-ico" title="打印"><span class="md-mi-ico md-mi-print"></span>打印</a></p>
      <table class="md-set-table md-set-table-mini" width="100%">
              <tr>
                  <th width="50">申请人</th>
                  <td>刘德华</td>
                  <th>编号</th>
                  <td><span class="color-p">自动生成</span></td>
              </tr>
              <tr>
                  <th>申请部门</th>
                  <td>
                      <select class="ma-select-f">
                        <option>考勤审批流程程程程程</option>
                        <option>考勤审批流程</option>
                        <option>考勤审批流程</option>
                        <option>考勤审批流程</option>
                      </select>
                  </td>
                  <th>申请日期</th>
                  <td>2013-06-06 12:40</td>
              </tr>
              <tr>
                <th>
                    <div class="IntW clearfix" style="width:50px;">
                      原岗位
                      <em class="IntTip"></em>
                      <div class="ask-pop font14">
                        <p class="mart5">您可以在基础套餐上，叠加价格为99元/月的表单拓展包，包含5个自定义表单。</p>
                      </div>
                    </div>
                </th>
                <td>
                    <div class="IntW clearfix" style="width:150px;">
                        <em class="IntTip"></em>
                        <div class="ask-pop font14">
                            <p class="mart5">您可以在基础套餐上，叠加价格为99元/月的表单拓展包，包含5个自定义表单。</p>
                        </div>
                        <input type="text" class="md-int-lang">
                    </div>
                </td>
                <th>调整员工</th>
                <td class="process-table">
                    <span class="color-p">
                      刘德华 <em class="md-d-triangle"></em>
                      <dl class="md-make-pro">
                          <dd><a href="#">替换审批人</a></dd>
                          <dd><a href="#">删除这个审批步骤</a></dd>
                      </dl>
                    </span>
                </td>
              </tr>
              <tr>
                <th>新岗位</th>
                <td><input type="text" class="md-int-lang"></td>
                <th>原薪资</th>
                <td><input class="md-int-short" type="text"> 元</td>
              </tr>
              <tr>
                 <th>调整幅度</th>
                 <td><input class="md-int-short" type="text"> 元</td>
                 <th>新薪资</th>
                 <td><input class="md-int-short" type="text"> 元</td>
              </tr>
              <tr>
                 <th valign="top">备注</th>
                 <td colspan="3"><textarea rows="2" cols="70"></textarea></td>
                 <td>
                     <div class="md-attachment">
                        <a><em class="md-mi-attachment"></em>下载附件</a>
                        <ul class="all-att" style="top:-10px;left:-180px;">
                            <li><span class="docimg"><img src="../../images/xlsx.png"></span><span class="txt_hidden">加班申请表请</span><a href="#">下载</a></li>
                            <li><span class="docimg"><img src="../../images/xlsx.png"></span><span class="txt_hidden">加班申请表</span><a href="#">下载</a></li>
                            <li><span class="docimg"><img src="../../images/xlsx.png"></span><span class="txt_hidden">加班申请表</span><a href="#">下载</a></li>
                        </ul>
                     </div>
                 </td>
              </tr>
          </table>
  </div>
  <div class="md-attachment">
    <a><em class="md-mi-attachment"></em>下载附件</a>
    <ul class="all-att" style="top:-10px;left:10px;">
        <li><span class="docimg"><img src="../../images/xlsx.png"></span><span class="txt_hidden">加班申请表请</span><a href="#">下载</a></li>
        <li><span class="docimg"><img src="../../images/xlsx.png"></span><span class="txt_hidden">加班申请表</span><a href="#">下载</a></li>
        <li><span class="docimg"><img src="../../images/xlsx.png"></span><span class="txt_hidden">加班申请表</span><a href="#">下载</a></li>
    </ul>
  </div>
  <!--单据详情over-->
    <!--绩效考核begin-->
    <div class="mart10">
        <table class="md-process-table assess assessin" width="100%">
            <thead>
            <tr>
                <th width="70">表单</th>
                <th width="300">预置流程</th>
                <th width="">得分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="txt_hidden">责任心</span></td>
                <td>
                    <div class="process-div">
                        <p class="txt_hidden">1、对自身防伪职责和目标，勇于承担责任</p>
                    </div>
                    <div class="process-div">
                        <p class="txt_hidden">2、勇于承担责任对自身防伪职责和目标，勇于承担责任</p>
                    </div>
                </td>
                <td>10分</td>
            </tr>
            <tr>
                <td>工作效率</td>
                <td>
                    <div class="process-div">
                        <p class="txt_hidden">1、对自身防伪职责和目标，勇于承担责任</p>
                    </div>
                    <div class="process-div">
                        <p class="txt_hidden">2、勇于承担责任对自身防伪职责和目标，勇于承担责任</p>
                    </div>
                </td>
                <td>10分</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--绩效考核over-->
  <!--审批流程记录begin-->
  <div class="md-doc-list mart20 noborder">
     <p class="clearfix">
         <font class="font14 floatleft">审批流程</font>
         <a href="#" title="打印" class="btn-ico floatright"><span class="md-mi-ico md-mi-print"></span>打印</a>
     </p>
     <table width="100%" class="md-history mart20">
         <thead>
           <tr>
               <th class="alignleft">操作人</th>
               <th  class="alignleft" width="150">操作流程</th>
               <th class="alignleft">操作时间</th>
               <th  class="alignleft" width="200">备注</th>
           </tr>
         </thead>
         <tbody>
             <tr>
                 <th><em>史寅</em>  (发起人)</th>
                 <td>发起申请</td>
                 <td>2013-06-06 12:40</td>
                 <td>--</td>
             </tr>
             <tr>
                 <th><em>毕云</em>  (第1步审批)</th>
                 <td>发起申请</td>
                 <td>2013-06-06 12:40</td>
                 <td>--</td>
             </tr>
             <tr>
                 <th></th>
                 <td>批准申请</td>
                 <td>2013-06-06 12:41</td>
                 <td>--</td>
             </tr>
             <tr>
                 <th><em>岑虎青</em> (第3步审批)</th>
                 <td>查看申请</td>
                 <td>2013-06-06 12:41</td>
                 <td>--</td>
             </tr>
             <tr>
                 <th></th>
                 <td>批准申请</td>
                 <td>2013-06-06 12:41</td>
                 <td>--</td>
             </tr>
             <tr>
                 <th><em>陈超</em>(经办人)</th>
                 <td>经办人查看</td>
                 <td>2013-06-06 12:41</td>
                 <td>--</td>
             </tr>
             <tr>
                 <th></th>
                 <td>经办人处理</td>
                 <td>2013-06-06 12:41</td>
                 <td>--</td>
             </tr>
             <tr>
                 <th></th>
                 <td><em>流程结束（当前）</em></td>
                 <td>2013-06-06 12:41</td>
                 <td>--</td>
             </tr>
         </tbody>
     </table>
  </div>
  <!--审批流程记录over-->
</div>
</div>
</div>
</body>
</html>
