<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人设置</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="md-plus">
    <div class="md-plus-inner mart30">
        <!--the inner nav begin-->
        <div class="md-p-nav">
            <ul class="clearfix">
                <li><a href="#"class="m-first-a">单据申请</a></li>
                <li><a href="#">我的单据<em class="md-plus-news"></em></a></li>
                <li><a href="#">单据审批</a></li>
                <li class="current"><a href="#">个人设置</a></li>
                <li><a href="#" class="m-last-a">环境设置</a></li>
            </ul>
        </div>
        <!--the inner nav over-->
        <!--the main beign-->
        <div class="md-plus-main-inner noborder">
            <ul>
                <li>单据审批过程提示</li>
                <li class="marl20 mart10">
                    <label class="MustC"><em>此项必须选择</em><input type="checkbox"> 关闭动态信息提示</label>
                </li>
                <li class="marl20 mart10"><label><input type="checkbox"> 关闭私信提示</label></li>
                <li class="mart20">接收审批单据提示</li>
                <li class="marl20 mart10"><label><input type="checkbox"> 关闭动态信息提示</label></li>
                <li class="marl20 mart10"><label><input type="checkbox"> 关闭私信提示</label></li>
            </ul>
        </div>
        <!--the main over-->
    </div>
</div>
</body>
</html>
