<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>price</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="md-plus">
    <!--知识门户begin-->
    <div class="md-plus-top clearfix">
        <div class="floatleft md-plus-l"><span class="md-ico floatleft md-ico-logo"></span>快捷审批</div>
    </div>
    <!--知识门户over-->
    <div class="md-plus-inner price">
        <div class="mart10" style="padding:0 10px;">
           <h2 class="md-doc-title clearfix aligncenter">
                <a class="floatleft font14" href="#">&lt; 返回</a>
                <span class="font16">付费方案一览</span>
           </h2>
           <div class="clearfix md-lise-box aligncenter">
              <div class="md-doc-item-box floatleft">
                <div class="md-doc-item phone-number font16">
                    <p class="aligncenter p-bt10"><img src="../../images/theme1-img/ico-11.png"></p>
                    不限存储容量
                </div>
              </div>
              <div class="md-doc-item-box floatleft">
                <div class="md-doc-item phone-number font16">
                    <p class="aligncenter p-bt10"><img src="../../images/theme1-img/ico-16.png"></p>
                    完善的用户管理
                </div>
              </div>
              <div class="md-doc-item-box floatleft">
                <div class="md-doc-item phone-number font16">
                    <p class="aligncenter p-bt10"><img src="../../images/theme1-img/ico-16.png"></p>
                    完善的用户管理
                </div>
              </div>
               <div class="md-doc-item-box floatleft">
                <div class="md-doc-item phone-number font16">
                    <p class="aligncenter p-bt10"><img src="../../images/theme1-img/ico-16.png"></p>
                    完善的用户管理
                </div>
              </div>
           </div>
           <table class="md-process-table" width="100%">
                 <tr class="aligncenter">
                     <td  class="font14">版本方案</td>
                     <td  class="font14" width="500">版本功能</td>
                     <td  class="font14" width="70">操作</td>
                 </tr>
                 <tr>
                     <td><em class="phone-number font14">标准型</em> (1-50人)</td>
                     <td><b>表单申请</b><b>表单申请</b></td>
                     <th><a href="#" class="md-plus-btn color-white">购买<em class="md-plus-btn-r"></em></a></th>
                 </tr>
           </table>
        </div>
    </div>
</div>
</body>
</html>
