<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>打印预览</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link type="text/css" href="../../css/md-plus-style.css" rel="stylesheet">
    <link type="text/css" href="../../css/theme1-style.css" rel="stylesheet">
    <style type="text/css">
        .Noprint{display:none;}
        table{border-collapse: collapse;border-spacing: 0;margin:0 auto 40px auto;}
        table td,table th{border:1px solid #000;line-height: 30px;padding:0 10px;}
        .print-bt{position:relative;}
        .print-bt .floatleft{position: absolute;bottom:0;left:0;}
        .print-bt table{margin-bottom:0;}
    </style>
</head>
<body>
<div style="width:760px;margin:0 auto;position: relative;">
    <div class="clearfix">
      <span style="position: absolute;left:0;"><img src="../../images/logo.gif"/></span>
      <p class="aligncenter p-top10 font20">考勤申请单</p>
    </div>
    <p  class="mart30" style="text-align: right;font-size:12px;">单据编号：01-103974738</p>
    <table style="width: 760px;">
      <tr>
          <th colspan="2">标题</th>
          <td colspan="2">行走江湖, 你可能会喜欢的音乐</td>
      </tr>
      <tr>
          <th>员工姓名</th>
          <td>行走江湖</td>
          <td>职务</td>
          <td>技术</td>
      </tr>
      <tr>
      <tr>
          <th>所属部门</th>
          <td>你猜</td>
          <td>入职日期</td>
          <td>1658-95-8</td>
      </tr>
      <tr>
          <th colspan="2">职位描述</th>
          <td colspan="2">行走江湖, 你可能会喜能会喜能会喜能会喜能会喜欢的音乐</td>
      </tr>
    </table>
    <table id="printTable" style="width: 760px;">
        <tbody>
        <tr>
            <th>标题</th>
            <td colspan="3">调休申请测试</td>
        </tr>
        <tr>
        <th>员工</th>
        <td style="width: 289.5px;">
            &nbsp;
        </td>
        <th>部门</th>
        <td style="width: 289.5px;">
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>职务</th>
        <td style="width: 289.5px;">
            &nbsp;
        </td>
        <th>工作地点</th>
        <td style="width: 289.5px;">
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>请假类别</th>
        <td colspan="3">
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>开始日期</th>
        <td style="width: 289.5px;">
            &nbsp;
        </td>
        <th>开始时间</th>
        <td style="width: 289.5px;">
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>结束日期</th>
        <td style="width: 289.5px;">
            &nbsp;
        </td>
        <th>结束时间</th>
        <td style="width: 289.5px;">
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>备注</th>
        <td colspan="3">
            &nbsp;
        </td>
        </tr>
        </tbody>
    </table>
    <div class="print-bt clearfix">
        <div class="floatleft">
            <p>申请人：王振佳</p>
            <p>申请时间：2013-8-11</p>
        </div>
        <!--操作日志begin-->
        <table class="floatright">
            <tr>
                <th width="80">操作人</th>
                <th>操作</th>
                <th>操作时间</th>
                <th>备注</th>
            </tr>
            <tr>
                <td>王振佳</td>
                <td>提交申请</td>
                <td>2013-8-11</td>
                <td></td>
            </tr>
            <tr>
                <td>赵阳</td>
                <td>更新申请</td>
                <td>2013-8-11</td>
                <td>修改了xxx.</td>
            </tr>
        </table>
        <!--操作日志over-->
    </div>
</div>
<div class="md-plus-pop" style="width: 770px;left:50%;top:50%;margin:-356px 0 0 -385px;">
    <div class="md-plus-pop-inner"><a class="md-delect"></a><p class="font18 md-title">打印申请</p><div>
     <iframe width="100%" scrolling="no" height="650px" frameborder="0" id="pop-md-plus-iframe" style="overflow-x:hidden;" src="22.html"></iframe>
</div>
</body>
</html>
