<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>打印</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <style type="text/css">
        .printtab{border:1px solid #000;border-left: 1px dashed #c8c8c8;border-right: 1px dashed #c8c8c8;}
        .printtab th,.printtab td{padding-left:10px;height:30px;line-height:30px;border:1px dotted #464646;font-size:13px;color:#333;}
        .printtab th{background-color:#f2f2f2;color:#000;}
    </style>
</head>
<body>
<div style="width:760px;margin:0 auto;position: relative;padding-top:30px;">
    <div class="clearfix aligncenter font16">
        <span>费用报销</span>
        <span class="floatright">单据编号：KQ-2013-0007</span>
    </div>
    <table class="printtab mart30" width="100%">
        <tr>
            <th>申请人</th>
            <td>王振加</td>
            <th>申请日期</th>
            <td>2014-02-22 12:25:32</td>
        </tr>
        <tr>
            <th>申请部门</th>
            <td>明道销售部</td>
            <th>请假类别</th>
            <td>病假</td>
        </tr>
        <tr>
            <th>开始日期</th>
            <td>2014-01-15</td>
            <th>开始时间</th>
            <td>08 : 00</td>
        </tr>
        <tr>
            <th>结束日期</th>
            <td>2014-01-15</td>
            <th>结束时间</th>
            <td>17 : 00</td>
        </tr>
        <tr>
            <th>请假事由</th>
            <td colspan="3">去医院看早泄，去民政局办离婚</td>
        </tr>
        <tr>
            <th>备注</th>
            <td colspan="3">去民政局办离婚,去医院看早泄</td>
        </tr>
    </table>
    <p class="font16 mart30">审批流程</p>
    <table class="printtab mart20" width="100%">
        <thead>
            <tr>
                <th width="150"b>操作人</th>
                <th width="150">操作</th>
                <th width="150">操作时间</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>布鲁斯测试</td>
                <td>发起申请</td>
                <td>2014-01-27 16:59</td>
                <td></td>
            </tr>
            <tr>
                <td>任向晖</td>
                <td>接收申请</td>
                <td>2014-01-27 16:59</td>
                <td></td>
            </tr>
            <tr>
                <td>金可伟</td>
                <td>批准申请</td>
                <td>2014-01-27 16:59</td>
                <td></td>
            </tr>
            <tr>
                <td>金可伟</td>
                <td>流程结束</td>
                <td>2014-01-27 16:59</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>