<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>流程设置-添加流程</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<div class="md-plus-pop" style="width:490px;top:100px;left:50%;margin-left:-245px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix">
            <span class="floatleft">为 采购申请 添加流程</span>
            <em class="pro-edit">
               <a href="#" class="md-mi-ico md-mi-edit" title="编辑"></a>
               <a href="#" class="md-mi-ico md-mi-delete" title="删除"></a>
            </em>
        </p>
        <div class="md-pop-main">
          <div class="md-doc-set-box mart10">
              <p class="marl10"><input type="text" class="md-int-mid int-name" value="流程名称"></p>
              <!--审批条件 2014-3-28 begin-->
              <div class="md-result-user" style="left:50%;top:100px;margin-left:-130px;display:none;">
                  <p class="font14">审批步骤满足于：</p>
                  <table class="nomar mart20">
                      <tr>
                          <th width="50">如果</th>
                          <th>
                              <div class="th-select">
                                    <span>金额</span>
                                    <em class="th-tip"></em>
                                    <ul>
                                        <li>金额</li>
                                        <li>数量</li>
                                    </ul>
                              </div>
                          </th>
                      </tr>
                      <tr>
                          <th>达到</th>
                          <th>
                            <input type="text" class="md-int-short width-60 nomarl marr10">
                            至
                            <input type="text" class="md-int-short width-60 marl10">
                          </th>
                      </tr>
                      <tr>
                          <th></th>
                          <th><a class="md-plus-btn color-white mart10" href="#">确 认<em class="md-plus-btn-r"></em></a></th>
                      </tr>
                  </table>
              </div>
              <!--审批条件 2014-3-28 over-->
              <!--详细流程begin-->
              <table class="process-table mart10 nomarl">
                  <tr>
                      <td>第1步 审批</td>
                      <td>
                          <span class="color-p">
                              刘德华 <em class="md-d-triangle"></em>
                              <dl class="md-make-pro" style="display:none;">
                                  <dd><a href="#">替换审批人</a></dd>
                                  <dd><a href="#">删除这个审批步骤</a></dd>
                                  <dd><a href="#">审批条件</a></dd>
                              </dl>
                          </span>
                      </td>
                  </tr>
                  <tr>
                      <td>第2步 审批</td>
                      <td>
                          <span class="color-p">
                              王振佳 <em class="md-d-triangle"></em>
                              <dl class="md-make-pro">
                                  <dd><a href="#">替换审批人</a></dd>
                                  <dd><a href="#">删除这个审批步骤</a></dd>
                              </dl>
                          </span>
                      </td>
                  </tr>
                  <tr>
                      <td>第5步 审批</td>
                      <td>
                          <div class="md-clander floatleft">
                            <input type="text" class="md-int-mid">
                            <a class="md-ser-ico" href="#"></a>
                          </div>
                          <span class="md-btns clearfix">
                            <a class="md-minus-ico marl10" title="删除审批人" href="#" ></a>
                            <a class="md-add-ico" title="添加审批人" href="#"></a>
                          </span>
                      </td>
                  </tr>
                  <tr>
                      <td>第5步 审批</td>
                      <td>
                          <div class="md-clander floatleft">
                              <input type="text" class="md-int-mid">
                              <a class="md-ser-ico" href="#"></a>
                          </div>
                          <span class="md-btns clearfix"></span>
                      </td>
                  </tr>
              </table>
              <!--详细流程over-->
          </div>
          <div>
              <p class="mart20 marl20">所有审批通过后，交由经办人执行</p>
              <table class="process-table mart10 nomarl">
                  <tr>
                      <td>经办执行人</td>
                      <td>
                          <div class="md-clander floatleft">
                              <input type="text" class="md-int-mid">
                              <a class="md-ser-ico" href="#"></a>
                          </div>
                          <span class="md-btns clearfix"></span>
                      </td>
                  </tr>
                  <tr>
                      <td>经办执行人</td>
                      <td>
                          <span class="color-p">
                              刘德华 <em class="md-d-triangle"></em>
                              <dl class="md-make-pro">
                                  <dd><a href="#">替换审批人</a></dd>
                                  <dd><a href="#">删除这个审批步骤</a></dd>
                              </dl>
                          </span>
                      </td>
                  </tr>
              </table>
          </div>
          <p class="alignright marr30 mart20 clearfix">
              <a href="#" class="md-plus-btn color-white">保 存<em class="md-plus-btn-r"></em></a>
              <a href="#" class="md-plus-btn2">取  消<em class="md-plus-btn-r"></em></a>
          </p>
        </div>
    </div>
</div>
</body>
</html>