<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>流程设置</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="md-plus">
    <!--知识门户begin-->
    <div class="md-plus-top clearfix">
        <div class="floatleft md-plus-l"><span class="md-ico floatleft md-ico-logo"></span>快捷审批</div>
    </div>
    <!--知识门户over-->
    <div class="md-plus-inner">
        <!--the inner nav begin-->
        <div class="md-p-nav clearfix">
            <ul class="floatleft clearfix">
                <li class="current"><a href="#">我申请的项目</a></li>
                <li><a href="#">我审批的项目<em class="md-plus-news"></em></a></li>
                <li><a href="#">我经办的项目</a></li>
                <li class="app-set"><a href="#"><em class="md-mi-ico2 md-mi-set"></em>应用管理</a></li>
            </ul>
            <a href="#" class="md-plus-btn floatright color-white marr30">提交新申请<em class="md-plus-btn-r"></em></a>
        </div>
        <!--the inner nav over-->
        <!--二级导航 begin-->
        <div class="md-p-nav2 clearfix">
            <ul class="clearfix floatleft font16">
                <li><a href="#">表单设置</a></li>
                <li class="current"><a href="#">流程设置</a></li>
                <li><a href="#">申请日志</a></li>
            </ul>
        </div>
        <!--二级导航 over-->
        <!--搜索begin-->
        <div class="md-p-nav2 noborder clearfix">
            <div class="txt-prompt floatleft">您可以为现有的表单，预置审批流程。开启后只能使用管理员定义的审批流程。<a class="md-delect" href="#" title="不再提示"></a></div>
            <div class="clearfix floatright">
                <div class="md-plus-ser floatright marl30 marr15">
                    <input type="text">
                    <button class="btn-ser-md"></button>
                    <ul style="display:none">
                        <li class="current"><a href="#"><em class="txt_hidden">王振佳是明道的什么人呢</em>按标题</a></li>
                        <li><a href="#"><em>王振佳</em>按申请人</a></li>
                    </ul>
                    <ul style="display:none">
                        <li class="clearfix">
                            <div class="md-clander floatleft">
                                <input type="text" class="md-int-mid">
                                <a href="#" class="md-cl-ico md-ser-ico"></a>
                            </div>
                            <a href="#" class="floatleft block font20 mart5">×</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--搜索over-->
        <!--预置流程begin-->
        <div class="mart10">
           <table class="md-process-table" width="100%">
               <thead>
                 <tr>
                     <th>表单</th>
                     <th width="530">预置流程</th>
                     <th width="70">操作</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                     <td><span class="txt_hidden">采购申请申请申请申请申请 (2)</span></td>
                     <td>
                         <div class="process-div">
                           <p class="txt_hidden">
                             <span class="marr10">1 申请流程1</span><span>刘德华</span> &gt;<span>王振佳</span> &gt;
                             <span>赵阳</span> &gt;<span>刘德华</span> &gt;<span>刘德华</span> &gt;<span>王振佳</span> &gt;<span>习近平</span>&gt;<span>习近平（执行）</span>
                           </p>
                           <div class="pro-edit">
                               <a href="#" class="md-mi-ico md-mi-edit" title="编辑"></a>
                               <a href="#" class="md-mi-ico md-mi-delete" title="删除"></a>
                           </div>
                         </div>
                         <div class="process-div">
                           <p class="txt_hidden">
                             <span class="marr10">2 申请流程2</span><span>刘德华</span> &gt;<span>王振佳</span> &gt;
                             <span>习近平</span>&gt;<span>习近平（执行）</span>
                           </p>
                           <div class="pro-edit">
                               <a href="#" class="md-mi-ico md-mi-edit" title="编辑"></a>
                               <a href="#" class="md-mi-ico md-mi-delete" title="删除"></a>
                           </div>
                         </div>
                         <p class="mart10 p-bt10"><a href="#">＋添加</a></p>
                     </td>
                     <th><label><input type="checkbox"> 开启</label></th>
                 </tr>
                 <tr>
                     <td>付款申请</td>
                     <td><p class="aligncenter"><a href="#">＋添加</a></p></td>
                     <th><label><input type="checkbox"> 开启</label></th>
                 </tr>
                 <tr>
                     <td>预支申请</td>
                     <td><p class="aligncenter"><a href="#">＋添加</a></p></td>
                     <th><label><input type="checkbox"> 开启</label></th>
                 </tr>
                 <tr>
                     <td>加班登记</td>
                     <td><p class="aligncenter"><a href="#">＋添加</a></p></td>
                     <th><label><input type="checkbox"> 开启</label></th>
                 </tr>
                 <tr>
                     <td>外出登记</td>
                     <td><p class="aligncenter"><a href="#">＋添加</a></p></td>
                     <th><label><input type="checkbox"> 开启</label></th>
                 </tr>
               </tbody>
           </table>
        </div>
        <!--预置流程over-->
    </div>
</div>
</body>
</html>
