<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>发送信息</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
 <div class="md-plus">
   <!--发送信息弹出框 begin-->
    <div class="md-plus-pop" style="width:450px;top:100px;left:50%;margin-left:-200px;">
        <div class="md-plus-pop-inner">
                <a href="#" class="md-delect"></a>
                <p class="font18 md-title">发送私人消息121212</p>
                <div class="md-pop-main">
                    <table>
                        <tr>
                            <th>姓名</th>
                            <td>王振佳123<span class="phone-number">(12365974556)</span></td>
                        </tr>
                        <tr>
                            <th valign="top">消息内容</th>
                            <td class="p-top5"><textarea class="font12" rows="5" cols="34"></textarea></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td class="p-top5">
                                <div class="floatleft">
                                   <span><input type="checkbox"><label class="marl5">同时通过手机短信发送</label></span>
                                   <span class="message-alert" style="height:22px;">
                                       <em class="up-img"></em>
                                       <p>
                                           您可发送<em class="phone-number">0条</em>
                                           <span><img src="../../images/help.gif" align="absmiddle"/></span>
                                           本次发送<em class="phone-number">1</em>条.
                                       </p>
                                       <span class="message-alert" style="position: absolute;width:200px;top:18px;">
                                           <em class="up-img"></em>
                                           <p>短信可发送条数由下述因素决定：</p>
                                           <p class="mart5">1 当前网络增值业务余额</p>
                                           <p>2 管理员限定用户发送数目</p>
                                           <p class="mart10">如有疑问，请联系您的网络管理员</p>
                                       </span>
                                   </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
   <!--发送信息弹出框 over-->
 </div>
</body>
</html>
