<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>单据申请首页</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body style="margin:0;padding:0;">
<div class="md-plus">
    <div class="md-plus-inner mart30">
        <!--the inner nav begin-->
        <div class="md-p-nav Noprint">
            <ul class="clearfix">
                <li class="current"><a href="#"class="m-first-a">单据申请</a></li>
                <li><a href="#">我的单据</a></li>
                <li><a href="#">单据审批</a></li>
                <li><a href="#">个人设置</a></li>
                <li><a href="#" class="m-last-a">环境设置</a></li>
            </ul>
        </div>
        <!--the inner nav over-->
        <!--the main beign-->
        <div class="md-plus-main">
            <div class="md-plus-main-inner">
                <p class="aligncenter font20 nomain-txt">您提交的申请将显示在这里，暂无记1录2</p>
                <p class="aligncenter font20"><a href="#">提交申请123</a></p>
            </div>
        </div>
        <!--the main over-->
    </div>
</div>
</body>
</html>
