<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>加班填写</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<div class="md-plus-pop" style="width:574px;top:100px;left:50%;margin-left:-287px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix"><span class="floatleft">加班登记</span></p>
        <div class="md-pop-main">
          <div class="md-doc-set-box noborder">
            <table class="md-set-table md-set-table-mini marl10" width="100%">
              <tr>
                  <th width="50">申请人</th>
                  <td>刘德华</td>
                  <th>加班日期</th>
                  <td>
                      <div class="md-clander width-150">
                           <input type="text" class="md-int-short">
                           <a class="md-cl-ico" href="#"></a>
                      </div>
                  </td>
              </tr>
              <tr>
                  <th>开始时间</th>
                  <td>
                      <select class="ma-select-f">
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                      </select>
                      <em>:</em>
                      <select class="ma-select-f">
                        <option>00</option>
                        <option>01</option>
                        <option>02</option>
                        <option>11</option>
                      </select>
                  </td>
                  <th>结束时间</th>
                  <td>
                      <select class="ma-select-f">
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                      </select>
                      <em>:</em>
                      <select class="ma-select-f">
                        <option>00</option>
                        <option>01</option>
                        <option>02</option>
                        <option>11</option>
                      </select>
                  </td>
              </tr>
              <tr>
                  <th>加班事由</th>
                  <td colspan="3"><input class="md-int-mid int-name" type="text" value=""></td>
              </tr>
            </table>
            <table class="md-set-table md-set-table-mini marl10" width="100%">
              <tr>
                  <th width="50">申请人</th>
                  <td>刘德华</td>
                  <th>加班日期</th>
                  <td>
                      <div class="md-clander width-150">
                           <input type="text" class="md-int-short">
                           <a class="md-cl-ico" href="#"></a>
                      </div>
                  </td>
              </tr>
              <tr>
                  <th>开始时间</th>
                  <td>
                      <select class="ma-select-f">
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                      </select>
                      <em>:</em>
                      <select class="ma-select-f">
                        <option>00</option>
                        <option>01</option>
                        <option>02</option>
                        <option>11</option>
                      </select>
                  </td>
                  <th>结束时间</th>
                  <td>
                      <select class="ma-select-f">
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                      </select>
                      <em>:</em>
                      <select class="ma-select-f">
                        <option>00</option>
                        <option>01</option>
                        <option>02</option>
                        <option>11</option>
                      </select>
                  </td>
              </tr>
              <tr>
                  <th>加班事由</th>
                  <td colspan="3"><input class="md-int-mid int-name" type="text" value=""></td>
              </tr>
            </table>
            <div class="md-plus-page aligncenter clearfix mart20">
              <a class="block">增加一条加班记录</a>
            </div>
            <p class="alignright marr30 mart10 clearfix">
                <a href="#" class="md-plus-btn color-white floatright">下一步<em class="md-plus-btn-r"></em></a>
            </p>
          </div>
        </div>
    </div>
</div>
</body>
</html>