<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>审批订购</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
    <script  type="text/javascript">
        $(function(){
            $(".showF").hover(function(){
                $(this).parents("tr").next("tr").find("td .allList").stop().slideDown();
            },function(){
                $(this).parents("tr").next("tr").find("td .allList").stop().slideUp();
            });
        });
    </script>
</head>
<body>
<div class="content">
    <div class="md-plus">
        <!--知识门户begin-->
        <div class="md-plus-top clearfix">
            <div class="floatleft md-plus-l"><span class="md-ico floatleft md-ico-logo"></span>快捷审批</div>
        </div>
        <!--知识门户over-->
        <div class="md-plus-inner">
            <!--the main beign-->
            <div class="md-plus-main" style="width:770px;">
                <div class="md-plus-main-inner noborder">
                    <div class="md-doc-set-box p-bt20 mart20">
                        <p class="font16"><span>感谢您使用快捷审批应用！</span></p>
                        <p class="font14 mart20">区别于传统繁琐复杂OA审批工具，简单快捷的交互体验。帮助员工快速完成公司内部的流程审批工作。</p>
                        <p class="font14 mart30 p-bt20">
                            <span>付费方式：</span>
                            <span>我们提供先使用，后支付的付费方式。在您使用后的一个月各结算一次。</span>
                        </p>
                        <p class="font14 mart5 color-6">
                            <span class="inblock width-70"></span>
                            <span>例：2014-1-10开通使用，2014-2-10处长收费。</span>
                        </p>
                        <p class="font14 mart10 color-6 p-bt20">
                            <span class="inblock width-70"></span>
                            <span>如果上月使用不满一个月，则按使用天数折算收费。</span>
                        </p>
                    </div>
                    <div class="md-doc-set-box p-bt20 mart20">
                        <p class="font16 color-6">选择月套餐：</p>
                        <table width="100%" class="Package mart20">
                            <tr>
                                <td width="130"><label class="color-6"><input type="radio" class="marr15"/> 基础套餐：</label></td>
                                <td>
                                    <em class="phone-number font14 showF">15个系统预置表单 + 3个自定义表单</em>
                                    <span class="ask">
                                        <img src="../../images/ask.jpg">
                                        <div class="ask-pop font14">
                                            <p>表单不够怎么办？</p>
                                            <p class="mart5">您可以在基础套餐上，叠加价格为99元/月的表单拓展包，包含5个自定义表单。</p>
                                        </div>
                                    </span>
                                </td>
                                <td><span class="phone-number font14"><em class="font16 marr10">299</em>元/月</span></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <ul class="allList clearfix">
                                        <li class="phone-number"><em class="phone-number">1.</em>报销报销报销报销报销报销报销申请</li>
                                        <li class="phone-number"><em class="phone-number">2.</em>出差嫖娼申请</li>
                                        <li class="phone-number"><em class="phone-number">3.</em>快递申请</li>
                                        <li class="phone-number"><em class="phone-number">4.</em>转正申请</li>
                                        <li class="phone-number"><em class="phone-number">5.</em>加薪申请</li>
                                        <li class="phone-number"><em class="phone-number">6.</em>离婚申请</li>
                                        <li class="phone-number"><em class="phone-number">7.</em>绩效考核申请</li>
                                        <li class="phone-number"><em class="phone-number">8.</em>打印名片申请</li>
                                        <li class="phone-number"><em class="phone-number">9.</em>离职交接申请</li>
                                        <li class="phone-number"><em class="phone-number">10.</em>支付申请</li>
                                        <li class="phone-number"><em class="phone-number">11.</em>采购申请</li>
                                        <li class="phone-number"><em class="phone-number">12.</em>请假申请</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="color-6"><input type="radio" class="marr15"/> 高级套餐：</label></td>
                                <td><em class="phone-number font14">15个系统预置表单 + 无限自定义表单</em></td>
                                <td><span class="phone-number font14"><em class="font16 marr10">1999</em>元/月</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="md-doc-set-box p-bt20 mart30 noborder">
                        <p class="alignright">
                            <span class="phone-number font16">现在订购，您可以得到一个月的免费试用！</span>
                            <a href="#" class="md-plus-btn  color-white marl10">提交订购<em class="md-plus-btn-r"></em></a>
                        </p>
                    </div>
                </div>
            </div>
            <!--the main over-->
        </div>
    </div>
</div>
</body>
</html>
