<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>更改拓展包</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="md-plus-pop buy-pop border-color1 nobg" style="width:574px;top:20px;left:50%;margin-left:-287px;">
    <div class="md-plus-pop-inner">
        <a class="md-delect md-delect2 nobg" href="javascript:;">×</a>
        <div class="md-pop-main p-top10 color-color1">
            <p class="font20 p-top10 color-3">更改表单拓展包</p>
            <p class="font14 mart30 color-3">单个表单拓展包的价格为：99元/月，包含5个自定义表单</p>
            <div class="md-doc-set-box mart30 noborder">
                <div class="md-doc-item clearfix nobg noborder nopadding" style="width:auto;border-radius:0;">
                    <ul class="expansionProduct nomar">
                        <li class="clearfix">
                           <div class="color-6 floatleft font14">选择拓展包数量</div>
                           <div class="middle clearfix font14">
                               <div class="numList clearfix">
                                   <span id="minus" class="minus unClick">－</span>
                                   <input type="text" value="1" class="bagNum" id="bagNum">
                                   <span id="plus" class="plus">＋</span>
                               </div>
                           </div>
                           <div class="right font14 p-top10 color-3">共计：10个自定义表单 <span><em class="font14 phone-number marl5">198</em> 元/月</span></div>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="alignright clearfix font16">
              <a href="#" class="color-p">取 消</a>
              <a href="#" class="md-plus-btn color-white marr10 marl20">确定<em class="md-plus-btn-r"></em></a>
            </p>
        </div>
    </div>
</div>
</body>
</html>