<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>更改套餐</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="md-plus-pop buy-pop border-color1 nobg" style="width:574px;top:10px;left:50%;margin-left:-287px;">
    <div class="md-plus-pop-inner">
        <a class="md-delect md-delect2 nobg" href="javascript:;">×</a>
        <div class="md-pop-main color-color1">
            <p class="font20 p-top10 color-3">更改基础套餐</p>
            <div class="md-doc-set-box p-bt20 mart20 noborder">
                <table width="100%" class="Package nomar">
                    <tbody>
                        <tr>
                            <td width="120"><label class="color-6"><input type="radio" class="marr15"> 基础套餐：</label></td>
                            <td>
                                <em class="color-3 font14">15个系统预置表单 + 3个自定义表单</em>
                            </td>
                            <td><span class="color-3 font14"><em class="font16 marr10">299</em>元/月</span></td>
                            <td><span class="phone-number font14">当前</span></td>
                        </tr>
                        <tr>
                            <td><label class="color-6"><input type="radio" class="marr15"> 高级套餐：</label></td>
                            <td><em class="phone-number font14">15个系统预置表单 + 无限自定义表单</em></td>
                            <td><span class="color-3 font14"><em class="font16 marr10">1999</em>元/月</span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <p class="font14 color-3 marl30 mart20">*选择高级套餐后，您订购的表单拓展包将自动取消。</p>
            </div>
            <p class="alignright clearfix mart30 font16">
              <a href="#" class="color-p">取 消</a>
              <a href="#" class="md-plus-btn color-white marr10 marl20">确定<em class="md-plus-btn-r"></em></a>
            </p>
        </div>
    </div>
</div>
</body>
</html>