<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>更改套餐3</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="md-plus-pop buy-pop border-color1 nobg" style="width:574px;top:10px;left:50%;margin-left:-287px;">
    <div class="md-plus-pop-inner">
        <a class="md-delect md-delect2 nobg" href="javascript:;">×</a>
        <div class="md-pop-main color-color1">
            <p class="font20 p-top10 color-3">更改基础费用套餐</p>
            <div class="md-doc-set-box p-bt20 mart20 noborder">
                <table width="100%" class="Package nomar">
                    <tbody>
                        <tr>
                            <td>您更改了拓展包数量：</td>
                            <td>
                                <p class="font14">
                                    <span>由<em class="phone-number">5个</em>改为<em class="phone-number">2个</em></span>
                                    <span class="marl20">共计：<em class="phone-number">10个</em>自定义表单</span>
                                </p>
                            </td>
                            <td><span class="color-3 font14"><em class="phone-number marr10 font16">198</em>元/月</span></td>
                        </tr>
                    </tbody>
                </table>
                <p class="font14 phone-number mart10">由于您更改了拓展包数量，您只能保留10个自定义表单。</p>
                <p class="font14 color-3 mart10">选择您需要保留的自定义表单：</p>
                <ul class="old-list clearfix mart20">
                    <li><label><input type="checkbox"/>岗位薪资调整申请</label></li>
                    <li><label><input type="checkbox"/>快递登记快递登记快递登记快递登记申请</label></li>
                    <li><label><input type="checkbox"/>快递登记快递登记快递登记快递登记申请</label></li>
                    <li><label><input type="checkbox"/>采购申请</label></li>
                    <li><label><input type="checkbox"/>外出登记</label></li>
                    <li><label><input type="checkbox"/>外出登记</label></li>
                    <li><label><input type="checkbox"/>转正考核</label></li>
                    <li><label><input type="checkbox"/>付款申请</label></li>
                    <li><label><input type="checkbox"/>转正考核</label></li>
                    <li><label><input type="checkbox"/>转正考核</label></li>
                </ul>
            </div>
            <p class="alignright clearfix mart30 font16">
                <span class="floatleft">已选择<em class="font14 marl5 phone-number">10个</em></span>
                <a href="#" class="color-p">取 消</a>
                <a href="#" class="md-plus-btn color-white marr10 marl20">确定<em class="md-plus-btn-r"></em></a>
            </p>
        </div>
    </div>
</div>
</body>
</html>