<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>正在订购</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="md-plus-pop buy-pop border-color1 nobg" style="width:380px;top:100px;left:50%;margin-left:-190px;">
    <div class="md-plus-pop-inner" style="min-height:100px;">
        <a class="md-delect md-delect2 nobg" href="javascript:;">×</a>
        <div class="md-pop-main aligncenter p-top40">
            <p class="font20">您的 <span class="color-color1">快捷审批</span> 应用已欠费</p>
            <p class="font16 p-bt20 mart30">立即前往<a href="#" class="color-color1"> 明道账务中心，充值恢复使用&gt;</a></p>
        </div>
    </div>
</div>

<div class="md-plus-pop buy-pop border-color1 nobg" style="width:380px;top:300px;left:50%;margin-left:-190px;">
    <div class="md-plus-pop-inner" style="min-height:100px;">
        <a class="md-delect md-delect2 nobg" href="javascript:;">×</a>
        <div class="md-pop-main aligncenter p-top40">
            <p class="font20">您的 <span class="color-color1">快捷审批</span> 应用已欠费</p>
            <p class="font16 p-bt20 mart30">请联系您的网络管理员充值恢复使用</p>
        </div>
    </div>
</div>
</body>
</html>