<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>申请统计表-部门</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
    <script  type="text/javascript">
        $(function(){
            $("#ChangeC").click(function(){
                var $par =$(this).parents(".clander-m");
                var $parD =$par.prev("div");
                $par.hide();
                $parD.show();
            });
        });
    </script>
</head>
<body>
<div class="md-plus-pop" style="width:960px;top:5px;left:50%;margin-left:-480px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix">
            <span class="floatleft">2014年全年费用报销申请统计表——部门</span>
        </p>
        <div class="md-pop-main">
            <p class="font16 aligncenter mart20">2014年全年费用报销申请统计表——部门</p>
            <!--统计表begin-->
            <div class="scrollTable mart20">
                <table class="Thead TheadTop">
                    <col width="100px"></col>
                    <col width="90px"></col>
                    <col width="90px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col></col>
                    <thead>
                        <tr>
                            <th>统计值</th>
                            <th>
                                <div class="th-select">
                                    <span>费用类别</span>
                                    <em class="th-tip"></em>
                                    <ul>
                                        <li>行政费用</li>
                                        <li>差旅费用</li>
                                        <li>吃喝嫖赌费</li>
                                    </ul>
                                </div>
                            </th>
                            <th colspan="14">
                                <div class="headr-in clearfix alignleft">
                                    <label class="floatleft mart5"><input type="checkbox"/> 只统计通过审批的申请</label>
                                    <!--时间筛查 begin-->
                                    <div class="md-clander floatright marl10">
                                       <div style="display: none">
                                           <input type="text" class="md-int-short">
                                           <a href="#" class="md-cl-ico"></a>
                                       </div>
                                       <div class="clander-m">
                                           <span>2014年1月-2014年9月</span>
                                           <a href="#" class="md-cl-ico" id="ChangeC"></a>
                                       </div>
                                    </div>
                                    <span class="mart5 floatright">
                                        <a href="#" class="current">按天查看</a>
                                        <a href="#">按月查看</a>
                                        <a href="#">按周查看</a>
                                    </span>
                                    <!--时间筛查 over-->
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
                <!--table header begin-->
                <table class="Thead mart10">
                    <col width="100px"></col>
                    <col width="90px"></col>
                    <col width="90px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col></col>
                    <thead>
                        <tr>
                            <th>
                                <div class="th-select">
                                    <em class="th-tip"></em>
                                    <span>部门</span>
                                    <ul>
                                        <li>行政部</li>
                                        <li>技术研发中心</li>
                                        <li>技术研发中心</li>
                                    </ul>
                                </div>
                            </th>
                            <th>行政费用</th>
                            <th>
                                <div class="th-select">
                                    <span>差旅费用</span>
                                    <em class="th-tip"></em>
                                    <ul>
                                        <li>办公用品</li>
                                        <li>水费</li>
                                        <li>电费</li>
                                    </ul>
                                </div>
                            </th>
                            <th>一月</th>
                            <th>二月</th>
                            <th>三月</th>
                            <th>四月</th>
                            <th>五月</th>
                            <th>六月</th>
                            <th>七月</th>
                            <th>八月</th>
                            <th>九月</th>
                            <th>十月</th>
                            <th>十一月</th>
                            <th>十二月</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                </table>
                <!--table header over-->
                <!--table data begin-->
                <div class="Tbody">
                    <table class="Tablebody">
                        <col width="100px"></col>
                        <col width="90px"></col>
                        <col width="90px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col></col>
                        <tbody>
                            <tr>
                                <td rowspan="3">行政部</td>
                                <td rowspan="3">行政费用</td>
                                <td>办公</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>水电</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>交通</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td rowspan="3">行政部</td>
                                <td rowspan="3">行政费用</td>
                                <td>办公</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>水电</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>交通</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td rowspan="3">行政部</td>
                                <td rowspan="3">行政费用</td>
                                <td>办公</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>水电</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>交通</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td rowspan="3">行政部</td>
                                <td rowspan="3">行政费用</td>
                                <td>办公</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>水电</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>交通</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--table data over-->
            </div>
            <!--统计表over-->
        </div>
        <div class="data-bt mart10 clearfix">
            <!--左侧图标按钮begin-->
            <div class="btn-group floatright marr10">
                <a href="#"><em></em>汇总</a>
                <a href="#"><em></em>明细</a>
                <a href="#"><em></em>图表</a>
                <a href="#"><em></em>导出</a>
            </div>
            <!--左侧图标按钮over-->
            <!--检索begin-->
            <div class="data-ser floatleft">
                <a>显示类别</a>
                <select>
                    <option>按人</option>
                    <option>按部门</option>
                </select>
                <a>关键字</a>
                <input type="text"/>
            </div>
            <!--检索over-->
        </div>
    </div>
</div>
</body>
</html>