<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>申请统计表-部门</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<div class="md-plus-pop" style="width:960px;top:100px;left:50%;margin-left:-480px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix">
            <span class="floatleft">2014年全年费用报销申请统计表——部门</span>
        </p>
        <div class="md-pop-main">
            <!--统计表begin-->
            <div class="scrollTable mart10">
                <!--table header begin-->
                <table class="Thead">
                    <col width="100px"></col>
                    <col width="90px"></col>
                    <col width="90px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col width="50px"></col>
                    <col></col>
                    <thead>
                        <tr><th colspan="16" class="font16">2014年全年费用报销申请统计表——部门</th></tr>
                        <tr>
                            <th>
                                <div class="th-select">
                                    <em class="th-tip"></em>
                                    <span>部门</span>
                                    <ul>
                                        <li>行政部</li>
                                        <li>技术研发中心</li>
                                        <li>技术研发中心</li>
                                    </ul>
                                </div>
                            </th>
                            <th>
                                <div class="th-select">
                                    <span>费用类别</span>
                                    <em class="th-tip"></em>
                                    <ul>
                                        <li>行政费用</li>
                                        <li>差旅费用</li>
                                        <li>吃喝嫖赌费</li>
                                    </ul>
                                </div>
                            </th>
                            <th>
                                <div class="th-select">
                                    <span>费用项目</span>
                                    <em class="th-tip"></em>
                                    <ul>
                                        <li>办公用品</li>
                                        <li>水费</li>
                                        <li>电费</li>
                                    </ul>
                                </div>
                            </th>
                            <th>一月</th>
                            <th>二月</th>
                            <th>三月</th>
                            <th>四月</th>
                            <th>五月</th>
                            <th>六月</th>
                            <th>七月</th>
                            <th>八月</th>
                            <th>九月</th>
                            <th>十月</th>
                            <th>十一月</th>
                            <th>十二月</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                </table>
                <!--table header over-->
                <!--table data begin-->
                <div class="Tbody">
                    <table class="Tablebody">
                        <col width="100px"></col>
                        <col width="90px"></col>
                        <col width="90px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col width="50px"></col>
                        <col></col>
                        <tbody>
                            <tr>
                                <td rowspan="3">行政部</td>
                                <td rowspan="3">行政费用</td>
                                <td>办公</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>水电</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>交通</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td rowspan="3">行政部</td>
                                <td rowspan="3">行政费用</td>
                                <td>办公</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>水电</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>交通</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td rowspan="3">行政部</td>
                                <td rowspan="3">行政费用</td>
                                <td>办公</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>水电</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>交通</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td rowspan="3">行政部</td>
                                <td rowspan="3">行政费用</td>
                                <td>办公</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>水电</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>
                            <tr>
                                <td>交通</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>100.00</td>
                                <td>1000.00</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!--table data over-->
            </div>
            <!--统计表over-->
        </div>
        <div class="data-bt mart10 clearfix">
            <!--左侧图标按钮begin-->
            <div class="btn-group floatleft">
                <a href="#"><em></em>汇总</a>
                <a href="#"><em></em>明细</a>
                <a href="#"><em></em>图表</a>
                <a href="#"><em></em>导出</a>
            </div>
            <!--左侧图标按钮over-->
            <!--检索begin-->
            <div class="data-ser floatleft">
                <a>显示类别</a>
                <select>
                    <option>按人</option>
                    <option>按部门</option>
                </select>
                <a>关键字</a>
                <input type="text"/>
            </div>
            <!--检索over-->
            <!--时间选择begin-->
            <div class="timecheck floatright marr20">
                <a href="#">上一年</a>
                <select>
                    <option>2014年-1月</option>
                    <option>2014年-2月</option>
                    <option>2014年-3月</option>
                    <option>2014年-4月</option>
                </select>
                <a href="#">下一年</a>
            </div>
            <!--时间选择over-->
        </div>
    </div>
</div>
</body>
</html>