<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>申请统计表-部门</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<div class="md-plus-pop" style="width:960px;top:100px;left:50%;margin-left:-480px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix">
            <span class="floatleft">2014年全年费用报销申请统计表——部门</span>
        </p>
        <div class="md-pop-main">
            <!--统计表begin-->
            <div class="scrollTable mart10">
            <!--table header begin-->
            <table class="Thead">
                <col width="100px"></col>
                <col width="90px"></col>
                <col width="90px"></col>
                <col width="90px"></col>
                <col width="80px"></col>
                <col width="200px"></col>
                <col width="80px"></col>
                <col width="120px"></col>
                <thead>
                <tr><th colspan="16" class="font16">2014年3月费用报销申请明细</th></tr>
                <tr>
                    <th>
                        <div class="th-select">
                            <em class="th-tip"></em>
                            <span>申请人</span>
                            <ul>
                                <li>王振佳</li>
                                <li>赵阳</li>
                                <li>高圆圆</li>
                            </ul>
                        </div>
                    </th>
                    <th>
                        <div class="th-select">
                            <span>费用类别</span>
                            <em class="th-tip"></em>
                            <ul>
                                <li>行政费用</li>
                                <li>差旅费用</li>
                                <li>吃喝嫖赌费</li>
                            </ul>
                        </div>
                    </th>
                    <th>
                        <div class="th-select">
                            <span>费用项目</span>
                            <em class="th-tip"></em>
                            <ul>
                                <li>办公用品</li>
                                <li>水费</li>
                                <li>电费</li>
                            </ul>
                        </div>
                    </th>
                    <th>发生日期</th>
                    <th>报销金额</th>
                    <th>备注</th>
                    <th>最终审核人</th>
                    <th>单据编号</th>
                </tr>
                </thead>
            </table>
            <!--table header over-->
            <!--table data begin-->
            <div class="Tbody">
                <table class="Tablebody">
                    <col width="100px"></col>
                    <col width="90px"></col>
                    <col width="90px"></col>
                    <col width="90px"></col>
                    <col width="80px"></col>
                    <col width="200px"></col>
                    <col width="80px"></col>
                    <col width="120px"></col>
                    <tbody>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>招聘</td>
                            <td>刘德华</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>嫖娼</td>
                            <td>赵阳</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>保释金</td>
                            <td>刘德华</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>招聘</td>
                            <td>刘德华</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>嫖娼</td>
                            <td>赵阳</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>保释金</td>
                            <td>刘德华</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>招聘</td>
                            <td>刘德华</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>嫖娼</td>
                            <td>赵阳</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>保释金</td>
                            <td>刘德华</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>招聘</td>
                            <td>刘德华</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>嫖娼</td>
                            <td>赵阳</td>
                            <td>AR-2014-0000</td>
                        </tr>
                        <tr>
                            <td>王振佳</td>
                            <td>行政费用</td>
                            <td>办公</td>
                            <td>2014年3月2日</td>
                            <td>200.00</td>
                            <td>保释金</td>
                            <td>刘德华</td>
                            <td>AR-2014-0000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--table data over-->
            </div>
            <!--统计表over-->
        </div>
        <div class="data-bt mart10 clearfix">
        <!--左侧图标按钮begin-->
        <div class="btn-group floatleft">
            <a href="#"><em></em>汇总</a>
            <a href="#"><em></em>明细</a>
            <a href="#"><em></em>图表</a>
            <a href="#"><em></em>导出</a>
        </div>
        <!--左侧图标按钮over-->
        <!--检索begin-->
        <div class="data-ser floatleft">
            <a>显示类别</a>
            <select>
                <option>按人</option>
                <option>按部门</option>
            </select>
            <a>关键字</a>
            <input type="text"/>
        </div>
        <!--检索over-->
        <!--时间选择begin-->
        <div class="timecheck floatright marr20">
            <a href="#">上一年</a>
            <select>
                <option>2014年-1月</option>
                <option>2014年-2月</option>
                <option>2014年-3月</option>
                <option>2014年-4月</option>
            </select>
            <a href="#">下一年</a>
        </div>
        <!--时间选择over-->
    </div>
    </div>
</div>
</body>
</html>