<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>考核-弹出</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<div class="md-plus-pop" style="width:574px;top:100px;left:50%;margin-left:-287px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix">
            <span class="floatleft mart5 marr10"><img src="../../images/theme1-img/ico-9.png"></span>
            <span class="floatleft">岗位薪资调整申请</span>
        </p>
        <div class="md-pop-main">
            <div class="md-doc-set-box noborder">
                <table class="md-set-table md-set-table-mini marl20" width="100%">
                    <tr>
                        <th width="50">申请人</th>
                        <td>刘德华</td>
                        <th>编号</th>
                        <td><span class="color-p">自动生成</span></td>
                    </tr>
                    <tr>
                        <th>申请部门</th>
                        <td>
                            <select class="ma-select-f">
                                <option>考勤审批流程程程程程</option>
                                <option>考勤审批流程</option>
                                <option>考勤审批流程</option>
                                <option>考勤审批流程</option>
                            </select>
                        </td>
                        <th>申请日期</th>
                        <td>2013-06-06 12:40</td>
                    </tr>
                </table>
                <!--绩效考核begin-->
                <div class="mart10">
                    <table class="md-process-table assess nomar" width="100%">
                        <thead>
                        <tr>
                            <th width="70">表单</th>
                            <th width="300">预置流程</th>
                            <th width="">得分</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="txt_hidden">责任心</span></td>
                            <td>
                                <div class="process-div">
                                    <p class="txt_hidden">1、对自身防伪职责和目标，勇于承担责任</p>
                                </div>
                                <div class="process-div">
                                    <p class="txt_hidden">2、勇于承担责任对自身防伪职责和目标，勇于承担责任</p>
                                </div>
                            </td>
                            <td><input type="text" class="md-int-short width-60"></td>
                        </tr>
                        <tr>
                            <td>工作效率</td>
                            <td>
                                <div class="process-div">
                                    <p class="txt_hidden">1、对自身防伪职责和目标，勇于承担责任</p>
                                </div>
                                <div class="process-div">
                                    <p class="txt_hidden">2、勇于承担责任对自身防伪职责和目标，勇于承担责任</p>
                                </div>
                            </td>
                            <td><input type="text" class="md-int-short width-60"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--绩效考核over-->
                <p class="alignright marr30 mart10 clearfix">
                    <a href="#" class="md-plus-btn color-white floatright">下一步<em class="md-plus-btn-r"></em></a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>