<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>费用报销弹出</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-ico.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
    <script  type="text/javascript" src="../../js/jquery.js"></script>
</head>
<body>
<div class="md-plus-pop" style="width:574px;top:100px;left:50%;margin-left:-287px;">
    <div class="md-plus-pop-inner">
        <a href="#" class="md-delect"></a>
        <p class="font18 md-title clearfix"><span class="floatleft">费用报销</span></p>
        <div class="md-pop-main">
            <div class="md-doc-set-box noborder">
                <h2 class="p-bt10 p-top10 font14">申请人：<span>王振佳</span></h2>
                <table class="md-set-table md-set-table-mini nomarl" width="100%">
                        <tr>
                            <th>费用类别</th>
                            <td>
                                <select style="vertical-align: middle;" class="ma-select-f">
                                    <option>销售的转正指标</option>
                                    <option>考勤审批流程</option>
                                </select>
                            </td>
                            <th>费用项目</th>
                            <td>
                                <select style="vertical-align: middle;" class="ma-select-f">
                                    <option>销售的转正指标</option>
                                    <option>考勤审批流程</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>发生日期</th>
                            <td>
                                <div class="md-clander inlineblock">
                                    <input type="text" class="md-int-lang">
                                    <a class="md-cl-ico" href="#"></a>
                                </div>
                            </td>
                            <th>发生金额</th>
                            <td><input class="md-int-lang" type="text"></td>
                        </tr>
                        <tr>
                            <th>备注</th>
                            <td colspan="3"><textarea  class="longTextArea" rows="5" style="width: 88%;"></textarea></td>
                        </tr>
                        <tr>
                            <td class="alignright" colspan="4">
                                <div class="overmake">
                                    <a href="#" class="phone-number" title="删除审批人">增加一条记录</a>
                                    <a href="#" class="phone-number" title="">删除此条记录</a>
                                </div>
                            </td>
                        </tr>
                        <!--第二条记录begin-->
                        <tr>
                        <th>费用类别</th>
                        <td>加班交通费</td>
                        <th>费用项目</th>
                        <td>加班交通费</td>
                    </tr>
                        <tr>
                            <th>发生日期</th>
                            <td>2014-10-8</td>
                            <th>发生金额</th>
                            <td>89元</td>
                        </tr>
                        <tr>
                            <th>备注</th>
                            <td colspan="3">
                                <span class="txt">
                                    小时候老师在黑板上讲解“帅”的含义，我不懂。直到邻家女孩红著脸递给我一面镜子，一瞬间我顿悟了小时候老师在黑板上讲解“帅”的含义，我不懂。直到邻家女
                                    孩红著脸递给我一面镜子，一瞬间我顿悟了
                                </span>
                            </td>
                        </tr>
                        <!--第二条记录over-->
                    </table>
                <div class="md-plus-page aligncenter clearfix mart20">
                    <a class="block">增加一条加班记录</a>
                </div>
                <p class="alignright marr30 mart10 clearfix">
                    <a href="#" class="md-plus-btn color-white floatright">下一步<em class="md-plus-btn-r"></em></a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>